In [1]:
import pandas as pd
import numpy as np
import flow

df = flow.get_TX_IBT_data()
df.head()

,State,County_Used,Used_FIPS,To (Feet),Basin_Used,Source_County,Source_FIPS,From (Feet),Source_Basin,Elevation Difference (Feet),Total_Intake__Gallons (Acre-Feet/Year)
0,TX,BEXAR,48029,650,SAN ANTONIO,COMAL,48091,630,GUADALUPE,20,2945104590
1,TX,KENDALL,48259,1490,SAN ANTONIO,COMAL,48091,630,GUADALUPE,860,317380000
2,TX,BEXAR,48029,650,SAN ANTONIO,COMAL,48091,630,GUADALUPE,20,274471000
3,TX,HUNT,48231,541,SABINE,DELTA,48119,482,SULPHUR,59,60004400
4,TX,HUNT,48231,541,SABINE,DELTA,48119,482,SULPHUR,59,55349700