In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt

import flow

In [2]:
df = flow.prep_fuel_demand_data()

df

,State,CLCCB,CLICB,EMACB,GECCB,GERCB,NGACB,NGCCB,NGICB,NGRCB,PAACB,PACCB,PAICB,PARCB,SOCCB,SORCB,WDRCB,WWCCB,WWICB,WYCCB
0,AK,8486.0,17.0,0.0,85.0,101.0,626.0,18491.0,265996.0,18593.0,171823.0,10930.0,51551.0,8163.0,0.0,3.0,5889.0,1432.0,167.0,0.0
1,AL,0.0,69477.0,22433.0,0.0,99.0,22409.0,25856.0,209554.0,33653.0,465083.0,11215.0,63683.0,5533.0,25.0,76.0,2123.0,311.0,157894.0,0.0
2,AR,0.0,4672.0,12136.0,0.0,797.0,8938.0,48248.0,93078.0,33463.0,267865.0,7798.0,49682.0,4256.0,24.0,92.0,6398.0,998.0,69150.0,0.0
3,AZ,0.0,5434.0,22820.0,48.0,50.0,18208.0,31891.0,21312.0,36047.0,454839.0,16963.0,55861.0,3514.0,4886.0,9971.0,3915.0,573.0,262.0,0.0
4,CA,0.0,30967.0,123784.0,634.0,287.0,36827.0,244468.0,853080.0,415935.0,2966738.0,79701.0,424659.0,21816.0,14378.0,50656.0,22025.0,14846.0,27021.0,50.0
5,CO,76.0,8059.0,18047.0,221.0,271.0,9808.0,56980.0,199528.0,129193.0,401768.0,14515.0,64965.0,11033.0,1792.0,2238.0,11707.0,1714.0,392.0,36.0
6,CT,0.0,0.0,12265.0,0.0,21.0,5255.0,53855.0,26296.0,52337.0,219903.0,20862.0,15263.0,68001.0,843.0,1857.0,7566.0,1248.0,4262.0,0.0
7,DC,44.0,0.0,921.0,0.0,22.0,1701.0,17866.0,0.0,14088.0,14939.0,1040.0,4368.0,1080.0,214.0,90.0,0.0,0.0,0.0,0.0
8,DE,0.0,0.0,3896.0,0.0,430.0,1186.0,12350.0,34874.0,11854.0,64568.0,4183.0,30931.0,6116.0,509.0,240.0,886.0,130.0,111.0,48.0
9,FL,0.0,14984.0,63546.0,2080.0,7976.0,17584.0,61734.0,98791.0,15791.0,1514229.0,50259.0,99341.0,5293.0,698.0,27386.0,267.0,564.0,120226.0,0.0
10,GA,60.0,12114.0,36448.0,4.0,304.0,9203.0,55005.0,161639.0,120795.0,816746.0,24419.0,67712.0,8652.0,884.0,381.0,3491.0,596.0,210927.0,0.0
11,HI,0.0,1136.0,3769.0,6.0,0.0,2.0,1874.0,434.0,562.0,145704.0,5180.0,23762.0,507.0,2267.0,5585.0,14.0,3185.0,3169.0,0.0
12,IA,3943.0,52535.0,14404.0,744.0,538.0,11527.0,51756.0,188195.0,66042.0,287681.0,21089.0,108872.0,15827.0,248.0,162.0,5155.0,1625.0,12785.0,24.0
13,ID,0.0,4249.0,5945.0,613.0,131.0,5335.0,17310.0,32822.0,24329.0,145649.0,4961.0,26316.0,3776.0,24.0,57.0,12015.0,1852.0,17405.0,0.0
14,IL,2160.0,86747.0,37840.0,0.0,2042.0,27765.0,221670.0,274511.0,412894.0,966530.0,22594.0,262429.0,19716.0,178.0,1301.0,5900.0,864.0,5553.0,48.0
15,IN,1382.0,169416.0,24008.0,816.0,3831.0,7331.0,79357.0,381682.0,136142.0,623929.0,15099.0,138836.0,13044.0,61.0,198.0,12488.0,5402.0,12581.0,9.0
16,KS,0.0,2765.0,9723.0,672.0,302.0,21871.0,38326.0,144566.0,60399.0,258755.0,7070.0,82125.0,8193.0,19.0,51.0,3834.0,561.0,2025.0,0.0
17,KY,391.0,26360.0,16940.0,852.0,1860.0,11742.0,36190.0,125497.0,50480.0,450468.0,8972.0,130559.0,8773.0,108.0,90.0,8606.0,1260.0,21480.0,0.0
18,LA,0.0,3723.0,19726.0,852.0,948.0,37451.0,30993.0,1136076.0,37738.0,658013.0,7886.0,1163785.0,1824.0,56.0,1465.0,753.0,110.0,117259.0,0.0
19,MA,0.0,1215.0,23217.0,807.0,52.0,11476.0,108253.0,45859.0,130373.0,430532.0,25748.0,29666.0,91200.0,5715.0,2264.0,10525.0,1542.0,7459.0,240.0
20,MD,12.0,15031.0,23346.0,0.0,570.0,7827.0,74110.0,15588.0,87475.0,415695.0,19999.0,32033.0,27248.0,1768.0,1445.0,5790.0,2255.0,7686.0,0.0
21,ME,0.0,742.0,6073.0,0.0,72.0,1030.0,10380.0,21613.0,2782.0,128072.0,17799.0,11952.0,40099.0,58.0,265.0,24515.0,5395.0,56717.0,0.0
22,MI,1166.0,61124.0,35319.0,874.0,4320.0,20450.0,173941.0,184259.0,322444.0,712351.0,20680.0,93713.0,36074.0,251.0,586.0,37613.0,10599.0,50050.0,0.0
23,MN,152.0,17480.0,25889.0,0.0,1075.0,10616.0,96565.0,163426.0,122089.0,435201.0,17581.0,125414.0,24905.0,126.0,306.0,17601.0,5555.0,33746.0,271.0
24,MO,1516.0,21176.0,25041.0,0.0,352.0,6514.0,61929.0,66269.0,96343.0,544376.0,15703.0,71062.0,14502.0,804.0,578.0,18079.0,3398.0,2059.0,0.0
25,MS,0.0,2562.0,14519.0,741.0,175.0,22491.0,20235.0,128970.0,23846.0,368539.0,7985.0,67225.0,5459.0,14.0,16.0,1395.0,204.0,51795.0,0.0
26,MT,53.0,4969.0,4240.0,144.0,123.0,4643.0,20144.0,26417.0,19534.0,106977.0,2541.0,46091.0,7402.0,24.0,61.0,10838.0,1587.0,1717.0,0.0
27,NC,3875.0,14337.0,33397.0,0.0,967.0,4639.0,57052.0,108798.0,66792.0,704995.0,28020.0,71443.0,27211.0,1333.0,443.0,10164.0,2122.0,81880.0,0.0
28,ND,1238.0,95662.0,3864.0,445.0,533.0,15543.0,13385.0,58686.0,11467.0,120601.0,4554.0,68630.0,6210.0,0.0,7.0,520.0,76.0,2240.0,0.0
29,NE,0.0,21175.0,6666.0,720.0,492.0,7518.0,31140.0,90568.0,36635.0,192631.0,4410.0,40199.0,6341.0,3.0,37.0,2401.0,514.0,530.0,0.0
30,NH,0.0,0.0,5783.0,0.0,29.0,156.0,9918.0,8637.0,8077.0,99823.0,13985.0,9010.0,32928.0,67.0,217.0,13918.0,2488.0,4051.0,0.0
31,NJ,0.0,0.0,34097.0,0.0,466.0,6964.0,171004.0,58007.0,248407.0,844433.0,23151.0,127588.0,32724.0,10715.0,4887.0,3215.0,3334.0,3080.0,0.0
32,NM,0.0,1691.0,8073.0,72.0,55.0,9148.0,25999.0,109244.0,34402.0,201827.0,4789.0,36329.0,4375.0,677.0,842.0,8806.0,1289.0,113.0,26.0
33,NV,0.0,6820.0,9395.0,783.0,349.0,5906.0,31060.0,18433.0,38501.0,204889.0,7964.0,16534.0,2175.0,1072.0,1959.0,1911.0,280.0,158.0,0.0
34,NY,0.0,19284.0,42699.0,751.0,434.0,36242.0,321411.0,86068.0,466993.0,1010997.0,80582.0,89070.0,146874.0,2439.0,4285.0,36979.0,10193.0,23931.0,0.0
35,OH,2195.0,129222.0,38098.0,839.0,2596.0,21777.0,178307.0,306111.0,305352.0,909967.0,30381.0,187997.0,25078.0,742.0,402.0,21583.0,3506.0,28491.0,0.0
36,OK,0.0,11527.0,14820.0,0.0,24.0,49589.0,43921.0,289035.0,62142.0,427838.0,11202.0,103877.0,6958.0,7.0,50.0,3961.0,580.0,23343.0,0.0
37,OR,0.0,2364.0,12719.0,676.0,390.0,5016.0,26962.0,56534.0,39040.0,292723.0,8060.0,33885.0,3745.0,381.0,1792.0,20627.0,3308.0,43202.0,0.0
38,PA,1963.0,207622.0,37598.0,816.0,1347.0,45700.0,159442.0,404961.0,247059.0,835564.0,40776.0,218771.0,106369.0,1049.0,1593.0,34969.0,7539.0,53127.0,0.0
39,RI,0.0,0.0,3152.0,0.0,57.0,3288.0,12354.0,8867.0,20606.0,57724.0,4744.0,8640.0,18361.0,100.0,64.0,1832.0,268.0,133.0,65.0
40,SC,0.0,11321.0,20791.0,0.0,648.0,2653.0,24473.0,87476.0,29277.0,461951.0,11829.0,53072.0,4646.0,15.0,85.0,1850.0,271.0,84345.0,0.0
41,SD,0.0,3348.0,3972.0,967.0,650.0,6188.0,10995.0,47331.0,12383.0,94700.0,2129.0,19142.0,4406.0,4.0,6.0,2020.0,296.0,652.0,0.0
42,TN,148.0,55919.0,24876.0,0.0,213.0,8486.0,54934.0,119161.0,69704.0,609809.0,13064.0,85067.0,6883.0,581.0,29.0,7666.0,1122.0,57314.0,0.0
43,TX,171.0,20417.0,106302.0,890.0,1588.0,92418.0,182097.0,2094772.0,218847.0,3051377.0,51351.0,3217415.0,19092.0,928.0,1755.0,2836.0,968.0,66747.0,286.0
44,US,31071.0,1379678.0,1109733.0,19700.0,39600.0,747400.0,3326693.0,9427121.0,4794495.0,26420786.0,889191.0,8156712.0,1006103.0,56899.0,128345.0,512736.0,126317.0,1666208.0,1103.0
45,UT,0.0,15117.0,9312.0,356.0,96.0,14954.0,37439.0,70689.0,61290.0,239616.0,6056.0,45913.0,1645.0,247.0,394.0,3120.0,625.0,203.0,0.0
46,VA,1331.0,47533.0,31718.0,885.0,816.0,8611.0,72417.0,99041.0,89558.0,685697.0,27575.0,55656.0,25733.0,123.0,678.0,14223.0,7163.0,63288.0,0.0
47,VT,0.0,0.0,2299.0,0.0,29.0,142.0,6066.0,2091.0,3929.0,48870.0,9760.0,8924.0,17410.0,171.0,423.0,14731.0,2347.0,447.0,0.0
48,WA,0.0,1920.0,23234.0,778.0,358.0,13257.0,53112.0,81389.0,76475.0,612633.0,18321.0,134771.0,9414.0,92.0,549.0,23039.0,3537.0,78447.0,0.0
49,WI,536.0,27057.0,21835.0,0.0,615.0,3668.0,94398.0,143111.0,132795.0,434882.0,13349.0,80941.0,28344.0,158.0,334.0,29291.0,4681.0,55343.0,0.0
50,WV,0.0,41046.0,5954.0,3.0,29.0,31994.0,25315.0,92361.0,27273.0,141614.0,5123.0,44402.0,4853.0,12.0,82.0,9508.0,1392.0,1130.0,0.0
51,WY,174.0,29342.0,2786.0,528.0,70.0,13732.0,13716.0,85417.0,12273.0,98650.0,5246.0,57580.0,2322.0,8.0,16.0,4178.0,612.0,115.0,0.0

In [4]:
df = flow.prep_water_use_2015()
#df = flow.prep_electricity_demand_data()
#df = flow.calc_consumption_frac()
df

NameError: name 'prep_water_use_1995' is not defined

In [2]:
is_NaN = df.isnull()
row_has_NaN = is_NaN.any(axis=1)
rows_with_NaN = df[row_has_NaN]
rows_with_NaN

Empty DataFrame
Columns: [FIPS, State, elec_demand_res, elec_demand_co, elec_demand_in, elec_demand_tr]
Index: []

In [2]:
df = flow.prep_electricity_generation()
df.isnull().values.sum()
df2 = flow.prep_county_identifier()

In [5]:
df2.to_csv(r'C:\Users\mong275\Local Files\Sankey_Notebook_Development\SankeyFiles\run2.csv')

In [3]:
is_NaN = df.isnull()
row_has_NaN = is_NaN.any(axis=1)
rows_with_NaN = df[row_has_NaN]
rows_with_NaN

Empty DataFrame
Columns: [Plant Code, State, County, identifier, FIPS]
Index: []

In [ ]:
city_list = ['VAchesapeakecity','VAportsmouthcity','VAhopewellcity','VAalexandriacity',
           'VAcovingtoncity','VAsuffolkcity','VAharrisonburgcity','VAsalemcity',
           'VAlynchburgcity','VAdanvillecity','VAmanassascity','VAhamptoncity',
           'VAvirginiabeachcity','VAbristolcity', 'MOstlouiscity']

for i in city_list:
    df_plant["identifier"] = np.where(df_plant["identifier"] == i, df_plant["identifier"].str.replace('city', '', regex=True), df_plant["identifier"])

<h1> Public Water Supply </h1>

## Water in Public Water Supply

### Public Water Supply Withdrawals

The USGS 2015 dataset provides public water supply withdrawals directly under data codes 'PS-WGWFr', 'PS-WSWFr','PS-WGWSa', 'PS-WSWSa' for each county.

In [ ]:
df = flow.prep_water_use_2015(variables=['State','County','PS-WGWFr', 'PS-WSWFr','PS-WGWSa', 'PS-WSWSa'])
df.head()

### Public Water Supply Deliveries, Exports, and Imports

The USGS 2015 dataset provide public water supply data in three categories: (1) total public water supply withdrawals, (2) public water supply deliveries to domestic end users, and (3) public water supply deliveries to thermoelectric cooling.

The 1995 USGS dataset provides public water supply deliveries to domestic, industrial, commercial, thermoelectric cooling, and losses/exports separately. To estimate the deliveries to commercial and industrial customers in 2015, the ratio of each to the sum of deliveries to residential and thermoelectric cooling is calculated from the 1995 data. These ratios are applied to the 2015 residential and thermoelectric cooling public water supply delivery values. 

Additionally, public water suppy exports and imports are calculated. When the sum of water deliveries is greater than the water withdrawn for public water supply, the difference is considered to be imported. When water withdrawn is greater, excess water after deliveries is considered to be exported.

Caveats and assumptions:
* This methodology assumes that if no public water supply was delivered to residential or thermoelectric cooling in 1995, then deliveries to industrial and commercial sectors would likewise be zero.

Potential mods
 for import pws counties, take 15% of withdrawals and imports as losses and add it on to the top of imports
 for export pws counties, take 15% of withdrawals as losses, take it out of exports, any remaining put as imports

In [4]:
df = flow.calc_pws_discharge()
df.head()

NameError: name 'prep_water_use_2015' is not defined

## Energy in Public Water Supply

# Wastewater Treatment
Wastewater treatment facility data is provided by EPA for the year 2012. These values are assumed for 2015. Values are provided on a treatment plant level with data on the following variables: 
Flow:
    * Total water flows (MGD) treated by the facility
    * Total infiltration flows treated by the facility (leaks into pipes and conduits)
Treatment:
    * Treatment type of each treatment plant (primary, secondary, advanced)
Discharge:
    * discharge location of each plant, broken down by percent of flow to each discharge location (e.g., ocean discharge, suface discharge, irrigation reuse)
Location:
    * county information is included for each power plant
    
This data allows us to determine total water flows processed and discharged by wastewater facilities at a county level by treatment type. The treatment type allows us to calculate the electricity use by county for wastewater treatment,

## Water in Wastewater Treatment

### Water Inflows to Wastewater Treatment Facilities
Total flows processed by wastewater treatment facilities are provided in the EPA dataset directly. However, this data will have discrepencies from the water data delivered to various sectors. To estimate water flows from residential, commercial, and industrial sectors to wastewater treatment facilities, an assumption is made that all water delivered from public water supply to these sectors is sent to wastewater treatment facilities.

### Quantity of Wastewater Processed by Treatment Type
Wastewater treatment plant treatment type is provided in the EPA data directly. These values are binned for simplification into no treatment, primary, secondary, and advanced treatment. When no treatment type was provided for a facility, it was assumed that they were secondary treatment facilities.

To see the amount of water (MGD) processed within each county by treatment type, run the cell below.

In [ ]:
df = flow.prep_wastewater_data()
df = df[['FIPS','no_treatment','ww_adv','ww_prim','ww_sec']]
df.head()

### Wastewater Treatment Facility Discharge

Wastewater treatment plant discharge location is provided in the EPA data directly. These values are binned for simplification into the following categories:

* 'outfall to surface waters': 'ww_sd',
* 'ocean discharge': 'ww_od',
* 'deep well': 'ww_gd',
* "reuse: industrial": 'ww_in',
* 'evaporation': 'ww_evap',
* 'spray irrigation': 'ww_ir',
* 'overland flow no discharge': 'ww_ww',
* 'overland flow with discharge': 'ww_sd',
* 'discharge to another facility': 'ww_ww',
* 'combined sewer overflow (cso) discharge': 'ww_sd',
* 'other': 'ww_sd',
* 'discharge to groundwater': 'ww_gd',
* 'no discharge, unknown': 'ww_ww',
* 'reuse: irrigation': 'ww_ir',
* 'reuse: other non-potable': 'ww_sd',
* 'reuse: indirect potable': 'ww_sd',
* 'reuse: potable': 'ww_ps',
* 'reuse: groundwater recharge': 'ww_gd'

In [17]:
df = flow.prep_wastewater_data()
df = df[['FIPS','ww_evap','ww_gd','ww_in','ww_ir','ww_od','ww_ps','ww_sd','ww_ww']]
df.head()

    FIPS  ww_evap  ww_gd  ww_in  ww_ir  ww_od  ww_ps   ww_sd  ww_ww
0  01001      0.0    0.0    0.0    0.0    0.0    0.0   2.866   0.00
1  01003      0.0    0.0    0.0    0.0    0.0    0.0  13.956   0.25
2  01005      0.0    0.0    0.0    0.0    0.0    0.0   2.138   0.00
3  01007      0.0    0.0    0.0    0.0    0.0    0.0   0.734   0.00
4  01009      0.0    0.0    0.0    0.0    0.0    0.0   1.133   0.00

## Energy in Wastewater Treatment

Wastewater treatment facilities have various levels of treatment from primary to advanced. Each treatment level has an increasing level of energy intensity to process the water. Intensity value estimates for wastwater treatment were used from Pabi et al. [17].

# Agriculture

## Water in Agriculture

## Energy in Agriculture

Energy use in agriculture consists of groundwater pumping, surface water pumping, and interbasin transers. USDA's Farm and Ranch Irrigation Survey (FRIS) provides state-by-state data on irrigation groundwater depth and average irrigation pressurization levels for irrigation within a state, enabling the calculation of pump electricity consumption for both groundwater and surface water pumping [13]. The 2013 survey is the closest year available to 2015 values. It is assumed that values do not vary significantly between the two years.

The methodology for calculating groundwater and surface water pumping energy is described in Tidwell et al [14]. However, where that publication uses well depth to water to calculate total differential height, the total well depth is used here as a way to offset some of the losses due to friction that would occur in the piping, as described in Lawrence Berkeley National Laboratory (LBNL) Home Energy Saver & Score: Engineering Documentation [15].

Pump efficiency is assumed to be the average (46.5%) of the range (34-59%) listed in [14]. State-level intensity rates are calculated here and applied to the county level water in agriculture values. The general methodology implemented here to determine total energy in agriculture is adapted from [5], not including the additions previously mentioned.

### Groundwater & Surface Water Pumping

### Interbasin Transfers

# Electricity Generation

## Energy in Electricity Generation

US Energy Information Administration (EIA) 923 data for 2015 is used to determine electricity generation by generator type within each interconnect [12]. The datafile contains information on generation at the plant-level. EIA additionally provides data on which North American Electric Reliability Corporation (NERC) balancing region each plant belongs to. By mapping each NERC region to its associated interconnect, generation within each interconnect can be determined directly.

From EIA, the AER Fuel Type Code is used to determine generator type. EIA provides generator type information at a high level of detail. For this reason different generator types are grouped for simplicity using a generator key (GenType923Key.xlsx). For example, different types of natural gas generators are all grouped into "Natural Gas" as a type.

Energy production is provided as "Net Generation (Megawatthours)" in the EIA dataset, "Total Fuel Consumption (MMBTU)" is the MMBTU equivalent of fuel going to each plant for electricity generation. The difference between these two values indicates the amount of energy generation that does not go to energy losses.

## will be filled in with calculate function

## Water in Electricity Generation

# End Use Sectors

## Residential Sector

### Water in Residential Sector

### Energy in Residential Sector

#### Energy (electricity) Demand in Residential Sector

##### weighted by population. <b> consider splitting out by usage if data is available

In [5]:
df = flow.prep_electricity_demand_data()
df

,FIPS,State,elec_demand_res,elec_demand_co,elec_demand_in,elec_demand_tr
0,01001,AL,859.7919,693.7326,1168.8538,0.0
1,01003,AL,3164.5321,2553.3375,4302.0586,0.0
2,01005,AL,411.4953,332.0195,559.4119,0.0
3,01007,AL,350.8172,283.0607,476.9224,0.0
4,01009,AL,895.9254,722.8872,1217.9758,0.0
...,...,...,...,...,...,...
3218,72151,PR,217.5939,295.4391,81.1612,0.0
3219,72153,PR,233.7016,317.3095,87.1693,0.0
3220,78010,VI,305.3421,414.5797,113.8908,0.0
3221,78020,VI,25.1713,34.1765,9.3888,0.0
3222,78030,VI,311.6287,423.1154,116.2357,0.0

#### Energy (fuel) Demand in Residential Sector

## Commercial Sector

### Water in Commercial Sector

### Energy in Commercial Sector

## Industrial Sector

### Water in Industrial Sector

### Energy in Industrial Sector

## Transportation Sector

### Energy in Energy Sector

# Intensities & Percentages

#### Conveyance Losses as a Percent of Water Withdrawn for Irrigation
Conveyance loss fraction for irrigation is calculated from the USGS 1995 water use dataset. It is calculated as the total conveyance losses (MGD) divided by the total water withdrawn (MGD) for irrigation. Looking at the fractions at the county level shows that a small subset of counties have unreliable values where conveyance losses are far greater than the amount withdrawn for irrigation. As a result, the ability to cap the loss fraction at a specified amount it provided and replace it with the average of the specified region. The default loss cap fraction is .90.

In [ ]:
df = flow.prep_water_use_1995()
df = flow.calc_conveyance_loss_frac(df)
df.head()

##### Change in loss cap

In [ ]:
df = flow.prep_water_use_1995()
df = flow.calc_conveyance_loss_frac(df, loss_cap_amt=.20)
df.head()

In [ ]:
help(flow.plot_bar)

In [ ]:
flow.plot_bar(df, "State","IR_CLoss_Frac", "State", y_axis_title = "Irrigation Conveyance Loss Fraction", x_axis_title="State")

#### Water Use Intensity for Hydroelectric Generation

In [ ]:
df = flow.calc_hydroelectric_water_intensity(intensity_cap=True, intensity_cap_amt=165, region_avg=False)

df.head()

In [ ]:
flow.plot_bar(df, "State","HY_IF", "State")