# Welcome to Flow!

In [2]:
import pandas as pd
import numpy as np
import matplotlib as plt

import flow

df = flow.prep_hydroelectric_water_intensity()
df.describe()

       hydropower_intensity_mgd_per_bbtu
count                        3223.000000
mean                         2074.059829
std                          4598.591996
min                             2.695018
25%                           355.971495
50%                           835.449748
75%                          1483.995431
max                         48000.000000

In [6]:
data = flow.configure_data()
sector_types = {'crop_irrigation': .15, 'golf_irrigation': .10}


df=flow.calc_water_conveyance_losses(data=data, sector_types=sector_types, total=True)
for col in df.columns:
    print(col)

FIPS
State
County
crop_irrigation_conveyance_loss_mgd
golf_irrigation_conveyance_loss_mgd

In [9]:
df = df.groupby('State', as_index=False).sum()
df

,State,population,fresh_groundwater_pws_mgd,fresh_surfacewater_pws_mgd,saline_groundwater_pws_mgd,saline_surfacewater_pws_mgd,fresh_pws_residential_mgd,total_pws_withdrawals_mgd_x,fresh_groundwater_residential_mgd,fresh_surfacewater_residential_mgd,...,pws_saline_surfacewater_treatment_energy_services_bbtu,electricity_pws_saline_surfacewater_distribution_bbtu,pws_saline_surfacewater_distribution_rejected_energy_bbtu,pws_saline_surfacewater_distribution_energy_services_bbtu,pws_total_ibt_energy_bbtu,pws_total_ibt_energy_services_bbtu,pws_total_ibt_rejected_energy_bbtu,electricity_pws_ibt_bbtu,electricity_pws_ibt_rejected_energy_bbtu,electricity_pws_ibt_energy_services_bbtu
0,AK,738.432,37.83,61.35,0.00,0.00,61.63,99.18,9.83,1.59,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,AL,4858.979,271.91,489.62,0.00,0.00,320.45,761.53,36.68,0.00,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,AR,2978.204,94.22,268.84,0.00,0.00,252.09,363.06,12.85,0.00,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
3,AZ,6828.065,568.92,626.23,0.00,0.00,963.30,1195.15,24.00,0.00,...,0.000000,0.000000,0.000000,0.000000,3780.038702,2457.025156,1323.013546,3780.038702,1323.013546,2457.025156
4,CA,39144.818,2313.05,2782.65,52.04,0.00,3227.97,5147.74,108.23,18.51,...,0.000000,0.000000,0.000000,0.000000,14145.762931,9194.745905,4951.017026,14145.762931,4951.017026,9194.745905
5,CO,5456.574,109.05,734.90,0.00,0.00,636.69,843.95,35.37,0.00,...,0.000000,0.000000,0.000000,0.000000,19.315322,12.554960,6.760363,19.315322,6.760363,12.554960
6,CT,3590.886,43.01,196.92,0.00,0.00,95.99,239.93,30.83,0.00,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
7,DC,672.228,0.00,0.00,0.00,0.00,44.78,0.00,0.00,0.00,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
8,DE,945.934,45.75,40.60,0.00,0.00,61.14,86.35,14.53,0.00,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
9,FL,20271.272,1908.67,305.91,169.14,1.13,1502.14,2384.85,176.92,0.00,...,12.811342,1.463631,0.512271,0.951360,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
10,GA,10214.860,230.89,839.09,0.00,0.00,660.69,1069.98,104.48,0.00,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
11,HI,1431.603,252.31,14.61,0.00,0.00,198.04,266.92,0.66,7.44,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
12,IA,3123.899,313.57,76.81,0.00,0.00,170.74,390.38,31.97,0.00,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
13,ID,1654.930,246.59,29.20,0.00,0.00,234.12,275.79,70.15,0.00,...,0.000000,0.000000,0.000000,0.000000,45.508182,29.580319,15.927864,45.508182,15.927864,29.580319
14,IL,12859.995,367.02,1108.64,0.00,0.00,936.76,1475.66,92.06,0.00,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
15,IN,6619.680,339.37,288.47,0.00,0.00,375.61,627.84,127.45,0.00,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
16,KS,2911.641,130.65,214.32,6.18,0.00,174.69,351.15,17.68,0.00,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
17,KY,4425.092,87.42,465.41,0.00,0.00,278.90,552.83,14.47,7.63,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
18,LA,4670.724,353.99,354.93,0.00,0.00,497.18,708.92,39.34,0.00,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
19,MA,6794.422,199.48,447.97,0.00,0.61,346.68,648.06,35.14,0.00,...,6.915857,0.790101,0.276536,0.513566,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
20,MD,6006.401,93.90,655.62,0.00,0.00,319.51,749.52,113.92,0.00,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
21,ME,1329.328,27.46,57.51,0.00,0.00,35.51,84.97,31.63,0.00,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
22,MI,9922.576,209.31,821.13,0.00,0.00,480.52,1030.44,187.01,0.00,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
23,MN,5489.594,336.31,178.93,0.00,0.00,236.16,515.24,82.23,0.00,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
24,MO,6083.672,281.59,515.50,0.00,0.00,482.44,797.09,57.46,0.00,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25,MS,2992.333,346.99,53.37,0.00,0.00,251.12,400.36,48.13,0.00,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
26,MT,1032.949,83.32,69.87,0.00,0.00,86.22,153.19,22.58,1.12,...,0.000000,0.000000,0.000000,0.000000,9.332032,6.065821,3.266211,9.332032,3.266211,6.065821
27,NC,10042.802,157.70,780.31,0.00,0.00,534.44,938.01,168.56,0.00,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
28,ND,756.927,35.35,48.83,0.00,0.00,56.83,84.18,3.69,0.00,...,0.000000,0.000000,0.000000,0.000000,5.406909,3.514491,1.892418,5.406909,1.892418,3.514491
29,NE,1896.190,217.94,57.24,0.00,0.00,129.06,275.18,19.04,0.00,...,0.000000,0.000000,0.000000,0.000000,1.034358,0.672333,0.362025,1.034358,0.362025,0.672333
30,NH,1330.608,35.42,60.10,0.00,0.00,49.98,95.52,29.74,0.00,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
31,NJ,8958.013,378.59,796.83,0.00,0.00,625.97,1175.42,90.66,0.00,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
32,NM,2085.109,183.51,78.28,0.00,0.00,145.12,261.79,24.64,0.00,...,0.000000,0.000000,0.000000,0.000000,148.408466,96.465503,51.942963,148.408466,51.942963,96.465503
33,NV,2933.322,147.66,389.70,0.00,0.00,332.64,537.36,39.51,0.00,...,0.000000,0.000000,0.000000,0.000000,1698.470707,1104.005960,594.464747,1698.470707,594.464747,1104.005960
34,NY,19795.791,614.17,1810.48,0.00,0.00,1227.22,2424.65,187.47,0.00,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
35,OH,11613.423,449.58,856.70,0.00,0.00,589.10,1306.28,136.76,2.72,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
36,OK,3911.338,102.11,509.13,0.00,0.00,246.97,611.24,30.33,0.00,...,0.000000,0.000000,0.000000,0.000000,136.301667,88.596084,47.705583,136.301667,47.705583,88.596084
37,OR,4028.977,146.98,420.06,0.00,0.00,355.43,567.04,66.35,7.54,...,0.000000,0.000000,0.000000,0.000000,77.133795,50.136967,26.996828,77.133795,26.996828,50.136967
38,PA,12802.503,227.40,1164.30,0.00,0.00,522.24,1391.70,208.27,0.00,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
39,PR,3474.182,66.62,509.73,0.00,0.00,338.35,576.35,0.52,0.00,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
40,RI,1056.298,13.76,83.70,0.00,0.00,56.00,97.46,6.57,0.00,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
41,SC,4896.146,115.11,518.28,0.00,0.00,371.34,633.39,118.27,0.00,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
42,SD,880.757,47.98,23.97,0.00,0.00,43.74,71.95,5.56,0.00,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
43,TN,6600.299,255.87,593.82,0.00,0.00,486.50,849.69,42.83,0.00,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
44,TX,27469.114,1153.42,1710.09,19.71,2.11,2124.59,2885.33,136.69,0.00,...,23.922063,2.732974,0.956541,1.776433,6763.951871,4396.568716,2367.383155,6763.951871,2367.383155,4396.568716
45,UT,2995.919,354.81,267.18,4.53,0.00,495.77,626.52,10.36,0.00,...,0.000000,0.000000,0.000000,0.000000,88.892797,57.780318,31.112479,88.892797,31.112479,57.780318
46,VA,8382.993,71.30,614.39,11.54,0.00,545.79,697.23,124.76,0.00,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
47,VI,103.574,0.91,0.00,0.00,3.36,2.74,4.27,1.23,2.55,...,38.093901,4.352034,1.523212,2.828822,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
48,VT,626.042,13.89,28.77,0.00,0.00,16.58,42.66,10.96,0.00,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
49,WA,7170.351,521.19,345.34,0.00,0.00,631.26,866.53,109.60,0.00,...,0.000000,0.000000,0.000000,0.000000,256.160540,166.504351,89.656189,256.160540,89.656189,166.504351
50,WI,5771.337,265.22,214.16,0.00,0.00,240.11,479.38,76.45,0.00,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
51,WV,1844.128,37.67,147.29,0.00,0.00,115.63,184.96,31.32,0.00,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
52,WY,586.107,54.51,46.84,0.00,0.00,82.34,101.35,8.93,0.00,...,0.000000,0.000000,0.000000,0.000000,0.463116,0.301025,0.162091,0.463116,0.162091,0.301025

In [ ]:
data = flow.configure_data()
df = flow.calc_energy_agriculture(data=data, total=True)
for col in df.columns:
    print(col)

In [ ]:
df = flow.calc_wastewater_exports(data=data)
for col in df.columns:
    print(col)

In [10]:
df.to_csv(r'C:\Users\mong275\Local Files\Sankey_Notebook_Development\SankeyFiles\test.csv')

In [ ]:
name_list = ['electricity to rejected energy', 'energy discharge from sectoral use', 'energy in wastewater',
                      'energy in agriculture', 'energy in public water supply', 'energy production exports',
                     'water discharge from sectoral use']
name_list.index('electricity to rejected energy')

In [ ]:
water_discharge_dict = {'surfacewater': {'fresh': {'wastewater': 0, 'ocean': 0, 'surface': 1},
                                        'saline': {'wastewater': 0, 'ocean': 1, 'surface': 0}},
                        'groundwater': {'fresh': {'wastewater': 0, 'ocean': 0, 'surface': 1},
                                        'saline': {'wastewater': 0, 'ocean': 1, 'surface': 0}},
                                'pws': {'fresh': {'wastewater': 1, 'ocean': 0, 'surface': 0}}
                             }

In [ ]:
sector_consumption_dict = {'residential': {'groundwater': {'saline': 0, 'fresh': .3},
                                                   'surfacewater': {'saline': 0, 'fresh': .3},
                                                   'pws': {'fresh': .3}},
                            'commercial': {'groundwater': {'saline': 0, 'fresh': .15},
                                           'surfacewater': {'saline': 0, 'fresh': .15},
                                           'pws': {'fresh': .15}},
                            'industrial':{'groundwater': {'saline': .003, 'fresh': .15},
                                          'surfacewater': {'saline': .003, 'fresh': .15},
                                          'pws': {'fresh': .15}},
                            'mining': {'groundwater': {'saline': .03, 'fresh': .15},
                                       'surfacewater': {'saline': .03, 'fresh': .15}},
                            'crop_irrigation': {'groundwater': {'saline': 0, 'fresh': .3},
                                                'surfacewater': {'saline': 0, 'fresh': .3}},
                            'livestock':  {'groundwater': {'saline': 0, 'fresh': .87},
                                           'surfacewater': {'saline': 0, 'fresh': .87}},
                            'aquaculture': {'groundwater': {'saline': 0, 'fresh': .5},
                                            'surfacewater': {'saline': 0, 'fresh': .5}}}

In [ ]:
df = data.copy()

In [ ]:
saline_groundwater_industrial_mgd                                                                   42.9
saline_surfacewater_industrial_mgd                                                                742.92

In [ ]:
df = flow.calc_sectoral_use_water_discharge(data=data, total=True)

In [ ]:
x=16987.779934 +  6225.87913 + 4263.081345
x

In [ ]:
df1=flow.calc_sectoral_use_water_discharge(data=data, total=True)
df1 = df1[['FIPS', 'residential_wastewater_discharge_mgd', 'commercial_wastewater_discharge_mgd', 'industrial_wastewater_discharge_mgd']]

In [ ]:
df2 = flow.prep_wastewater_data()
df2 = df2[['FIPS', 'State', 'County', 'municipal_wastewater_mgd', 'infiltration_wastewater_mgd']]

In [ ]:
df3 = pd.merge(df2, df1, how='left')
df3['sector_total'] = (df3['residential_wastewater_discharge_mgd'] 
                                                 + df3['commercial_wastewater_discharge_mgd'] 
                                                 + df3['industrial_wastewater_discharge_mgd'])
df3['diff'] = df3['municipal_wastewater_mgd'] - df3['sector_total']
df3.sum()

In [ ]:
df = pd.DataFrame()
df_sector_discharge = flow.calc_sectoral_use_water_discharge(data=data, total=True)
df_sector_discharge = df_sector_discharge[['FIPS', 'State', 'County',
                                              'residential_wastewater_discharge_mgd',
                                              'commercial_wastewater_discharge_mgd',
                                              'industrial_wastewater_discharge_mgd']]



df['total_wastewater_discharge'] = df_sector_discharge[['residential_wastewater_discharge_mgd',
                                              'commercial_wastewater_discharge_mgd',
                                              'industrial_wastewater_discharge_mgd']].sum(axis=1)

df['wastewater_exports_mgd'] = data['municipal_wastewater_mgd'] - df['total_wastewater_discharge']
df

In [ ]:
df1 = flow.calc_electricity_rejected_energy(data=data)
df2 = flow.calc_sectoral_use_energy_discharge(data=data)
df3 = flow.calc_energy_wastewater(data=data)
df4 = flow.calc_energy_agriculture(data=data)
df5 = flow.calc_energy_pws(data=data)
df6 = flow.calc_energy_production_exports(data=data)
df7 = flow.calc_sectoral_use_water_discharge(data=data)
df_list = [df1, df2, df3, df4, df5, df6, df7]
df_list

In [ ]:
df = flow.calc_sectoral_use_water_discharge(data=data)
for col in df.columns:
    print(col)

In [ ]:
df2 = df[['residential_saline_groundwater_consumption_mgd',
'residential_fresh_groundwater_consumption_mgd',
'residential_saline_surfacewater_consumption_mgd',
'residential_fresh_surfacewater_consumption_mgd',
'residential_fresh_pws_consumption_mgd',]].sum()
#df[['residential_fresh_pws_consumption_mgd']].sum()
df2

In [ ]:
x = 733+17+6309
x

In [ ]:
df = flow.calc_sectoral_use_water_discharge(data=data, total=True)
df.sum()

In [ ]:
df = flow.prep_consumption_fraction()
df.sum()

In [ ]:
df = flow.prep_water_use_2015(variables=['County','fresh_surfacewater_residential_mgd', 
                                         'fresh_groundwater_residential_mgd', 'fresh_pws_residential_mgd']).sum(axis=0)
df

In [ ]:
df = flow.calc_energy_wastewater(data=data, total=True)
#df = df[df.State == "TX"]
for col in df.columns:
    print(col)

In [ ]:
total_df

In [ ]:
#test_dict.update({'test_zero':x})
test_dict
rejected_energy_total = pd.DataFrame.from_dict(test_dict, orient='index').transpose().sum(axis=1)
rejected_energy_total

In [ ]:
x = np.zeros((len(df), 1))
test_dict.update({'test_zero': x})
test_dict['test_zero']

In [ ]:
# Move this to top

    # calculate rejected energy and energy services for each fuel, agriculture, water, and pumping type
    for water_type in water_types_list:
        for pumping_type in pumping_type_dict:
            for agriculture_type in agriculture_type_list:
                for fuel_type in fuel_type_dict:
                    fuel_type_efficiency = 'agriculture_' + fuel_type + "_efficiency_pct"
                    if f'{fuel_type}_{agriculture_type}_{water_type}_{pumping_type}_bbtu' in energy_value_dict:
                        rejected_energy_name = f'{agriculture_type}_{water_type}_{pumping_type}_{fuel_type}_rejected_energy_bbtu'
                        energy_services_name = f'{agriculture_type}_{water_type}_{pumping_type}_{fuel_type}_energy_services_bbtu'
                        if fuel_type_efficiency in df.columns:
                            #df[f'{agriculture_type}_{water_type}_{pumping_type}_{fuel_type}_rejected_energy_bbtu'] = (1 - df[fuel_type_efficiency]) \
                            #                                                                                         * df[f'{fuel_type}_{agriculture_type}_{water_type}_{pumping_type}_bbtu']
                            #df[f'{agriculture_type}_{water_type}_{pumping_type}_{fuel_type}_energy_services_bbtu'] = (df[fuel_type_efficiency]) \
                            #                                                                                         * df[f'{fuel_type}_{agriculture_type}_{water_type}_{pumping_type}_bbtu']

                            rejected_energy_value = (1 - df[fuel_type_efficiency]) * df[f'{fuel_type}_{agriculture_type}_{water_type}_{pumping_type}_bbtu']
                            energy_services_value = (df[fuel_type_efficiency]) * df[f'{fuel_type}_{agriculture_type}_{water_type}_{pumping_type}_bbtu']

                            rejected_energy_dict.update({rejected_energy_name: rejected_energy_value})
                            energy_services_dict.update({energy_services_name: energy_services_value})

                        # if there's no fuel efficiency column, use defaults
                        else:
                            #df[f'{agriculture_type}_{water_type}_{pumping_type}_{fuel_type}_rejected_energy_bbtu'] = (1 -fuel_type_dict[fuel_type]) \
                            #                                                                             * df[f'{fuel_type}_{agriculture_type}_{water_type}_{pumping_type}_bbtu']
                            #df[f'{agriculture_type}_{water_type}_{pumping_type}_{fuel_type}_energy_services_bbtu'] = (fuel_type_dict[fuel_type]) \
                            #                                                                             * df[f'{fuel_type}_{agriculture_type}_{water_type}_{pumping_type}_bbtu']

                            rejected_energy_value = (1 -fuel_type_dict[fuel_type]) * df[f'{fuel_type}_{agriculture_type}_{water_type}_{pumping_type}_bbtu']
                            energy_services_value = (fuel_type_dict[fuel_type]) * df[f'{fuel_type}_{agriculture_type}_{water_type}_{pumping_type}_bbtu']

                            rejected_energy_dict.update({rejected_energy_name: rejected_energy_value})
                            energy_services_dict.update({energy_services_name: energy_services_value})

                        #df[f'{agriculture_type}_total_rejected_energy_bbtu'] = df[f'{agriculture_type}_total_rejected_energy_bbtu'] + df[f'{agriculture_type}_{water_type}_{pumping_type}_{fuel_type}_rejected_energy_bbtu']
                        #df[f'{agriculture_type}_total_energy_services_bbtu'] = df[f'{agriculture_type}_total_energy_services_bbtu'] + df[ f'{agriculture_type}_{water_type}_{pumping_type}_{fuel_type}_energy_services_bbtu']
                    else:
                        pass

In [ ]:
df= df[df.State == "CA"]
df = df['electricity_irrigation_ibt_rejected_energy_bbtu']
df.sum()

In [ ]:
df = flow.calc_energy_agriculture(data=data, total=True)
df

In [ ]:
test_dict = {"Gfg" : [4, 7, 5]}
  
# printing original dictionary
print("The original dictionary is : " + str(test_dict))
  
# initializing K 
K = 1
  
# one liner, values() getting all value according to keys
res = [sub[K] for sub in test_dict.values()]
res

In [ ]:
df = flow.calc_energy_agriculture(data=data, total=True)
df
#df.groupby("State", as_index=False).sum()

In [ ]:
df = flow.prep_pumping_intensity_data()
df

In [ ]:
df = flow.prep_irrigation_fuel_data()
df

In [ ]:
df = flow.calc_electricity_wastewater(data=data)
df

In [ ]:
df = flow.calc_sectoral_use_energy_discharge(data=data, total=True)
df

In [ ]:
data.to_csv(r'C:\Users\mong275\Local Files\Sankey_Notebook_Development\SankeyFiles\run4.csv')

To override the data inputs, flow.configure_data() can be run.
If run with no arguments provided, this function aggregates all baseline data to calculate flow values for the united states in 2015. Parameters are set, however, such that this function can be used to swap out datafiles. 

For example, if alternative US county level data was available for interbasin transfer electricity use, that could be used instead of the default data.

In [ ]:
df = flow.configure_data()
df

In [ ]:
is_NaN = data.isnull()
row_has_NaN = is_NaN.any(axis=1)
rows_with_NaN = data[row_has_NaN]
rows_with_NaN

In [ ]:
df2.to_csv(r'C:\Users\mong275\Local Files\Sankey_Notebook_Development\SankeyFiles\run2.csv')

<h1> Public Water Supply </h1>

## Water in Public Water Supply

### Public Water Supply Withdrawals

The USGS 2015 dataset provides public water supply withdrawals directly under data codes 'PS-WGWFr', 'PS-WSWFr','PS-WGWSa', 'PS-WSWSa' for each county.

In [ ]:
df = flow.prep_water_use_2015(variables=['State','County','PS-WGWFr', 'PS-WSWFr','PS-WGWSa', 'PS-WSWSa'])
df.head()

### Public Water Supply Deliveries to Sectors, Exports, and Imports

The USGS 2015 dataset provide public water supply data in three categories: (1) total public water supply withdrawals, (2) public water supply deliveries to domestic end users, and (3) public water supply deliveries to thermoelectric cooling.

The 1995 USGS dataset provides public water supply deliveries to domestic, industrial, commercial, thermoelectric cooling, and losses/exports separately. To estimate the deliveries to commercial and industrial customers in 2015, the ratio of each to the sum of deliveries to residential and thermoelectric cooling is calculated from the 1995 data. These ratios are applied to the 2015 residential and thermoelectric cooling public water supply delivery values. 

Additionally, public water suppy exports and imports are calculated. When the sum of water deliveries is greater than the water withdrawn for public water supply, the difference is considered to be imported. When water withdrawn is greater, excess water after deliveries is considered to be exported.

Caveats and assumptions:
* This methodology assumes that if no public water supply was delivered to residential or thermoelectric cooling in 1995, then deliveries to industrial and commercial sectors would likewise be zero.

Potential mods
 for import pws counties, take 15% of withdrawals and imports as losses and add it on to the top of imports
 for export pws counties, take 15% of withdrawals as losses, take it out of exports, any remaining put as imports

In [ ]:
df = flow.calc_pws_discharge()
df.head()

## Energy in Public Water Supply

Energy in public water supply includes
groundwater pumping, surface water pumping, desalination (when applicable), surface water treatment, groundwater treatment, distribution, and interbasin transfers (when appropriate).

An assumption is made that water that goes through desalination additionally requires surface water or groundwater treatment

The same groundwater and surface water pumping intensities are used from agriculture sector.

Note that interbasin transfer data that is provided to this function is already in bbtu, not in water flows. 
For non-ibt data, the option is provided for the user to use region-level energy intensity values (as in groundwater and surface water pumping). When values are not available, assumptions for each in kWh/MG are set as default values that can be overriden.

intensity values are used from tidwell and LLNL

In [ ]:
df = flow.calc_electricity_public_water_supply(total=True)
df.head()

# Wastewater Treatment
Wastewater treatment facility data is provided by EPA for the year 2012. These values are assumed for 2015. Values are provided on a treatment plant level with data on the following variables: 
Flow:
    * Total water flows (MGD) treated by the facility
    * Total infiltration flows treated by the facility (leaks into pipes and conduits)
Treatment:
    * Treatment type of each treatment plant (primary, secondary, advanced)
Discharge:
    * discharge location of each plant, broken down by percent of flow to each discharge location (e.g., ocean discharge, suface discharge, irrigation reuse)
Location:
    * county information is included for each power plant
    
This data allows us to determine total water flows processed and discharged by wastewater facilities at a county level by treatment type. The treatment type allows us to calculate the electricity use by county for wastewater treatment,

## Water in Wastewater Treatment

### Water Inflows to Wastewater Treatment Facilities
Total flows processed by wastewater treatment facilities are provided in the EPA dataset directly. However, this data will have discrepencies from the water data delivered to various sectors. To estimate water flows from residential, commercial, and industrial sectors to wastewater treatment facilities, an assumption is made that all water delivered from public water supply to these sectors is sent to wastewater treatment facilities. This assumption is also used to fill wastewater treatment flow values for regions that are unavailable in the EPA dataset. For example, south carolina does not have wastewater treatment facility values in the EPA dataset. It is assumed, therefore, that total wastewater treatment flows in south carolina and equal to the total public water supply flows for each county and is attributed to municipal discharge rather than infiltration. It is assumed that 80% of treatment flows are advanced treatment and 20% are secondary treatment. It is also assumed that all discharge is sent to surface. This follows average values for the state of North Carolina which were used as a proxy in this instance.

### Quantity of Wastewater Processed by Treatment Type
Wastewater treatment plant treatment type is provided in the EPA data directly. These values are binned for simplification into no treatment, primary, secondary, and advanced treatment. When no treatment type was provided for a facility, it was assumed that they were secondary treatment facilities.

To see the amount of water (MGD) processed within each county by treatment type, run the cell below.

In [ ]:
df = flow.prep_wastewater_data()
df.head()

### Wastewater Treatment Facility Discharge

Wastewater treatment plant discharge location is provided in the EPA data directly. These values are binned for simplification into the following categories:

* 'outfall to surface waters': 'ww_sd',
* 'ocean discharge': 'ww_od',
* 'deep well': 'ww_gd',
* "reuse: industrial": 'ww_in',
* 'evaporation': 'ww_evap',
* 'spray irrigation': 'ww_ir',
* 'overland flow no discharge': 'ww_ww',
* 'overland flow with discharge': 'ww_sd',
* 'discharge to another facility': 'ww_ww',
* 'combined sewer overflow (cso) discharge': 'ww_sd',
* 'other': 'ww_sd',
* 'discharge to groundwater': 'ww_gd',
* 'no discharge, unknown': 'ww_ww',
* 'reuse: irrigation': 'ww_ir',
* 'reuse: other non-potable': 'ww_sd',
* 'reuse: indirect potable': 'ww_sd',
* 'reuse: potable': 'ww_ps',
* 'reuse: groundwater recharge': 'ww_gd'

In [ ]:
df = flow.prep_wastewater_data()
df = df[['FIPS','ww_evap','ww_gd','ww_in','ww_ir','ww_od','ww_ps','ww_sd','ww_ww']]
df.head()

## Energy in Wastewater Treatment

Wastewater treatment facilities have various levels of treatment from primary to advanced. Each treatment level has an increasing level of energy intensity to process the water. Intensity value estimates for wastwater treatment were used from Pabi et al. [17].

# Agriculture

## Water in Agriculture

## Energy in Agriculture

Energy use in agriculture consists of groundwater pumping, surface water pumping, and interbasin transers. USDA's Farm and Ranch Irrigation Survey (FRIS) provides state-by-state data on irrigation groundwater depth and average irrigation pressurization levels for irrigation within a state, enabling the calculation of pump electricity consumption for both groundwater and surface water pumping [13]. The 2013 survey is the closest year available to 2015 values. It is assumed that values do not vary significantly between the two years.

The methodology for calculating groundwater and surface water pumping energy is described in Tidwell et al [14]. However, where that publication uses well depth to water to calculate total differential height, the total well depth is used here as a way to offset some of the losses due to friction that would occur in the piping, as described in Lawrence Berkeley National Laboratory (LBNL) Home Energy Saver & Score: Engineering Documentation [15].

Pump efficiency is assumed to be the average (46.5%) of the range (34-59%) listed in [14]. State-level intensity rates are calculated here and applied to the county level water in agriculture values. The general methodology implemented here to determine total energy in agriculture is adapted from [5], not including the additions previously mentioned.

### Groundwater & Surface Water Pumping

### Interbasin Transfers

# Electricity Generation

## Energy in Electricity Generation

US Energy Information Administration (EIA) 923 data for 2015 is used to determine electricity generation by generator type within each interconnect [12]. The datafile contains information on generation at the plant-level. EIA additionally provides data on which North American Electric Reliability Corporation (NERC) balancing region each plant belongs to. By mapping each NERC region to its associated interconnect, generation within each interconnect can be determined directly.

From EIA, the AER Fuel Type Code is used to determine generator type. EIA provides generator type information at a high level of detail. For this reason different generator types are grouped for simplicity using a generator key (GenType923Key.xlsx). For example, different types of natural gas generators are all grouped into "Natural Gas" as a type.

Energy production is provided as "Net Generation (Megawatthours)" in the EIA dataset, "Total Fuel Consumption (MMBTU)" is the MMBTU equivalent of fuel going to each plant for electricity generation. The difference between these two values indicates the amount of energy generation that does not go to energy losses.

## will be filled in with calculate function

## Water in Electricity Generation

# End Use Sectors

## Residential Sector

### Water in Residential Sector

### Energy in Residential Sector

#### Energy (electricity) Demand in Residential Sector

##### weighted by population. <b> consider splitting out by usage if data is available

In [ ]:
df = flow.prep_electricity_demand_data()
df

#### Energy (fuel) Demand in Residential Sector

## Commercial Sector

### Water in Commercial Sector

### Energy in Commercial Sector

## Industrial Sector

### Water in Industrial Sector

### Energy in Industrial Sector

## Transportation Sector

### Energy in Energy Sector

# Energy Production

## Biomass

### Energy in Biomass Production (Ethanol)

To find the ethanol production per county, this calculation takes 2015 eia data on ethanol plant capacity which has added locational data by each plant and combines with state level biomass (ethanol) production from prep_state_fuel_production_data() to split out state total by county. Returns a dataframe of ethanol production (bbtu) by county FIPS for each county in the US for 2015.

ethanol plant production filler for wyoming (in state total but not location data) ,Torrington, WY100%, https://neo.ne.gov/programs/stats/122/2015/122_201512.htm

#### <b> <ul> <font color='red'> Consider looking for estimates for electricity use in biomass production to split out from industrial

### Water in Biomass Production (Ethanol)

#### Water used in irrigation of corn used for ethanol

Data on water used in the irrigation of corn ultimately used for ethanol production does not exist explicitly at any level of granularity and must be calculated out from larger state-level corn growth irrigation intensity estimates.

The percent of corn grown for ethanol in the US was used from US DOE Alternative Fuels Data Center [21]. Total corn production for ethanol (5.22 billion bushels) was divided by total corn producton (13.6 billion bushels) for 2015 and calculated to be 38.406%. Data on a state or county-level does not exist, therefore, this percentage is applied to all states with corn production. A state-level fraction of corn used for ethanol production could be calculated from the amount of ethanol produced in a state and applying an assumption of corn required per unit of ethanol, however, not all corn used in ethanol is produced in the state that uses it which lead to states such as CA with an ethanol fraction of corn growth of nearly 900% of their total corn production. Given that we are unable to determine which states the imported corn for ethanol would be coming from, the decision was made to apply the US total fraction to all states.

Total water used in the production of corn for ethanol is therefore the assumed 38.406% multiplied by the product of the total amount of irrigated acres of corn (AC_Irr_Corn) and the calculated irrigation intensity for that state (total acres applied to all crops / total acres irrigated, all crops) provided from USDA Census of Agriculture Irrigation and Water Management Survey [22], Table 35 and Table 4, respectively. The irrigation intensity for corn is calculated from the average irrigation intensity for the state.

To split the total MGY applied between fresh surface and groundwater, USDA FRIS Census of Agriculture data on the fraction of surface water (surface water + off farm water) from total water supply (including groundwater) in corn production is used from Table 37 of [22]. Off-farm sources are assumed to be surface water.

Some states that grow corn do not provide data on the water source breakdown (surface vs. ground) for their irrigation. The surface to groundwater ratio for all irrigation in a state is substituted for these states. These values are calculated from the USGS 2015 water dataset.

In [ ]:
df = flow.prep_county_water_corn_biomass_data()

#### Water used in the production of ethanol (fermentation)

#### <b> <ul> <font color='red'> Consider looking for estimates for water used in the fermentation process of ethanol production, not just corn growth.

## Petroleum

### Energy in Petroleum Production (Conventional and Unconventional Oil Drilling)

 crude oil production by county fillers
Idaho: https://ogcc.idaho.gov/wp-content/uploads/sites/3/2017/06/2016-10-6-state-of-idaho-releases-oil-gas-production-data.pdf
100% of Idaho petroleum and natural gas is from Payette County

Alaska,
https://www.commerce.alaska.gov/web/aogcc/Data.aspx
almost all oil is produced along the north slope. Calculated from oil production download. The rest is on the kenai peninsula (cook inlet basin)

Maryland
https://www.eia.gov/state/analysis.php?sid=MD#34
assumed 50/50 split between Garret and Allegany Counties

Nevada
https://gisweb.unr.edu/OilGas/
Assumed to be in nye county with producing oil wells (only 4 btu)

Oregon
https://www.oregongeology.org/mlrr/oilgas-report.htm
Only one county (columbia county)

### Water in Petroleum Production (Conventional and Unconventional Oil Drilling)

## Natural Gas

### Energy in Natural Gas Production (Unconventional Drilling)

### Water in Natural Gas Production (Unconventional Drilling)

## Coal

### Energy in Coal Production (Coal Mining)

### Water in Coal Production (Coal Mining)

# Intensities & Percentages

#### Conveyance Losses as a Percent of Water Withdrawn for Irrigation
Conveyance loss fraction for irrigation is calculated from the USGS 1995 water use dataset. It is calculated as the total conveyance losses (MGD) divided by the total water withdrawn (MGD) for irrigation. Looking at the fractions at the county level shows that a small subset of counties have unreliable values where conveyance losses are far greater than the amount withdrawn for irrigation. As a result, the ability to cap the loss fraction at a specified amount it provided and replace it with the average of the specified region. The default loss cap fraction is .90.

In [ ]:
df = flow.prep_water_use_1995()
df = flow.calc_conveyance_loss_frac(df)
df.head()

##### Change in loss cap

In [ ]:
df = flow.prep_water_use_1995()
df = flow.calc_conveyance_loss_frac(df, loss_cap_amt=.20)
df.head()

In [ ]:
help(flow.plot_bar)

In [ ]:
flow.plot_bar(df, "State","IR_CLoss_Frac", "State", y_axis_title = "Irrigation Conveyance Loss Fraction", x_axis_title="State")

#### Water Use Intensity for Hydroelectric Generation

In [ ]:
df = flow.calc_hydroelectric_water_intensity(intensity_cap=True, intensity_cap_amt=165, region_avg=False)

df.head()

In [ ]:
flow.plot_bar(df, "State","HY_IF", "State")