In [3]:
import pandas as pd
import numpy as np
import flow

df = flow.prep_water_use_1995()
df_copy = df[df.FIPS == "08014"]

,FIPS,DO-CUTot,DO-WDelv,CO-CUTot,IN-CUsFr,CO-WDelv,IN-WFrTo,IN-PSDel,IN-CUsSa,IN-WSaTo,...,MI-WSaTo,LV-CUTot,LV-WTotl,LA-CUTot,LA-WTotl,IR-CUTot,IR-WTotl,HY-InUse,HY-InPow,IR-CLoss
0,01001,0.50,3.94,0.10,7.57,0.47,34.11,0.36,0.0,0.0,...,0.00,0.59,0.59,0.11,0.11,0.35,0.35,7599.98,244.72,0.0
1,01003,4.66,12.89,0.44,0.10,2.00,0.01,0.42,0.0,0.0,...,0.24,0.88,0.88,0.07,0.07,24.93,24.93,0.00,0.00,0.0
2,01005,0.26,2.54,0.25,0.67,1.13,0.94,0.42,0.0,0.0,...,0.00,1.44,1.44,1.00,1.00,8.04,8.04,0.00,0.00,0.0
3,01007,0.44,1.65,0.05,0.02,0.21,0.00,0.08,0.0,0.0,...,0.01,0.89,0.89,0.72,0.72,0.00,0.00,0.00,0.00,0.0
4,01009,1.02,3.79,0.07,0.11,0.33,0.00,0.51,0.0,0.0,...,0.00,1.08,1.08,0.18,0.18,0.20,0.20,0.00,0.00,0.0

In [3]:
#prepare 2015 USGS water use data and save to dataframe
df = flow.prep_water_use_2015()

,FIPS,STATE,COUNTY,PS-WGWFr,PS-WSWFr,PS-WGWSa,PS-WSWSa,DO-PSDel,PS-Wtotl,DO-WGWFr,...,MI-WGWFr,MI-WSWFr,MI-WGWSa,MI-WSWSa,IC-WGWFr,IC-WSWFr,IC-CUsFr,IG-WGWFr,IG-WSWFr,IG-CUsFr
0,01001,AL,Autauga County,3.64,0.00,0.0,0.0,2.71,3.64,0.38,...,1.40,0.62,0.0,0.0,3.36,0.00,3.36,0.00,0.16,0.16
1,01003,AL,Baldwin County,23.67,0.00,0.0,0.0,12.78,23.67,2.14,...,0.22,0.00,0.0,0.0,47.17,6.78,53.95,0.00,4.33,4.33
2,01005,AL,Barbour County,3.23,0.00,0.0,0.0,1.42,3.23,0.12,...,0.30,0.14,0.0,0.0,0.57,1.92,2.49,0.00,0.47,0.47
3,01007,AL,Bibb County,5.18,0.00,0.0,0.0,1.81,5.18,0.16,...,0.27,0.00,0.0,0.0,0.03,0.00,0.03,0.00,0.16,0.16
4,01009,AL,Blount County,2.78,54.08,0.0,0.0,2.79,56.86,0.86,...,0.37,0.00,0.0,0.0,0.20,0.15,0.35,0.00,0.73,0.73

In [29]:
  
# assign data of lists.  
data = {'Name': ['Tom', 'Joseph', 'Krish', 'John'], 'Age': [20, 21, 19, 18], 'life':[5,5,5,5]}  
  
# Create DataFrame  
df = pd.DataFrame(data)  


i = df.index[df['Name'] == "Tom"].tolist()

df = df.append(df.loc[i * 2].assign(Age=1), ignore_index=True)

print(df)

     Name  Age  life
0     Tom   20     5
1  Joseph   21     5
2   Krish   19     5
3    John   18     5
4     Tom    1     5
5     Tom    1     5