In [1]:
import pandas as pd
import numpy as np
import flow

df = flow.get_corn_irrigation_data()
df.head()

,State,STATE,Acre-feet-Applied_All,Acres_Corn_Harvested,Total_Acres_Irrigated_All,Ground,Surface,Off
0,Alabama,AL,"95,915",32857.0,163338,11065.0,20184.0,4758.0
1,Alaska,AK,"1,207",NaN,1721,NaN,NaN,NaN
2,Arizona,AZ,"4,409,708",13340.0,945570,13340.0,NaN,440.0
3,Arkansas,AR,"5,071,653",447403.0,4246491,418019.0,35743.0,2285.0
4,California,CA,"24,490,687",134945.0,8408282,63206.0,23506.0,62642.0