In [1]:
import pandas as pd
import numpy as np
import flow

df = flow.calc_conveyance_loss_frac(all_variables=)
df.head()

,FIPS,State,CountyName,StateCode,DO-CUTot,DO-WDelv,CO-CUTot,IN-CUsFr,CO-WDelv,IN-WFrTo,...,LV-WTotl,LA-CUTot,LA-WTotl,IR-CUTot,IR-WTotl,HY-InUse,HY-InPow,IR-CLoss,IR_CLoss_Frac,IR_CLoss_Frac_avg
0,01001,AL,Autauga,01,0.50,3.94,0.10,7.57,0.47,34.11,...,0.59,0.11,0.11,0.35,0.35,7599.98,244.72,0.0,0.0,0.0
1,01003,AL,Baldwin,01,4.66,12.89,0.44,0.10,2.00,0.01,...,0.88,0.07,0.07,24.93,24.93,0.00,0.00,0.0,0.0,0.0
2,01005,AL,Barbour,01,0.26,2.54,0.25,0.67,1.13,0.94,...,1.44,1.00,1.00,8.04,8.04,0.00,0.00,0.0,0.0,0.0
3,01007,AL,Bibb,01,0.44,1.65,0.05,0.02,0.21,0.00,...,0.89,0.72,0.72,0.00,0.00,0.00,0.00,0.0,0.0,0.0
4,01009,AL,Blount,01,1.02,3.79,0.07,0.11,0.33,0.00,...,1.08,0.18,0.18,0.20,0.20,0.00,0.00,0.0,0.0,0.0

In [32]:
#prepare 2015 USGS water use data and save to dataframe
df_2015 = flow.prep_water_use_2015()
df_2015["bin"] = 1
df_2015 = df_2015[['FIPS', 'bin']]
df_2015.head()

    FIPS  bin
0  01001    1
1  01003    1
2  01005    1
3  01007    1
4  01009    1

In [35]:
idx1 = pd.Index(df_1995.FIPS)
idx2 = pd.Index(df_2015.FIPS)

idx2.difference(idx1).values

array(['02230', '02275'], dtype=object)

In [29]:
  
# assign data of lists.  
data = {'Name': ['Tom', 'Joseph', 'Krish', 'John'], 'Age': [20, 21, 19, 18], 'life':[5,5,5,5]}  
  
# Create DataFrame  
df = pd.DataFrame(data)  


i = df.index[df['Name'] == "Tom"].tolist()

df = df.append(df.loc[i * 2].assign(Age=1), ignore_index=True)

print(df)

     Name  Age  life
0     Tom   20     5
1  Joseph   21     5
2   Krish   19     5
3    John   18     5
4     Tom    1     5
5     Tom    1     5