# Welcome to Flow!

In [38]:
import pandas as pd
import numpy as np
import matplotlib as plt
import flow
pd.set_option('display.max_rows', None)

df = flow.prep_thermo_cooling_data()
df.fillna('NOPLANT', inplace=True)
df[df.PrimSource == "NOPLANT"]

,EIA_PLANT_ID,COUNTY,STATE,COOLING_TYPE,GENERATION_TYPE,WATER_SOURCE_CODE,WATER_TYPE_CODE,WITHDRAWAL,CONSUMPTION,County,StateName,PrimSource
2,8,Walker,AL,oncethrough,coal,surfacewater,fresh,382.00,4.02,NOPLANT,NOPLANT,NOPLANT
7,50,Jackson,AL,oncethrough,coal,surfacewater,fresh,171.00,1.83,NOPLANT,NOPLANT,NOPLANT
33,207,Duval,FL,tower,coal,surfacewater,saline,8.87,6.34,NOPLANT,NOPLANT,NOPLANT
36,271,Contra Costa,CA,complex,natgas,surfacewater,saline,17.60,0.22,NOPLANT,NOPLANT,NOPLANT
38,302,San Diego,CA,oncethrough,natgas,surfacewater,saline,80.60,0.00,NOPLANT,NOPLANT,NOPLANT
40,330,Los Angeles,CA,oncethrough,natgas,surfacewater,saline,15.40,0.00,NOPLANT,NOPLANT,NOPLANT
41,331,San Bernardino,CA,tower,natgas,groundwater,fresh,0.28,0.20,NOPLANT,NOPLANT,NOPLANT
43,345,Ventura,CA,oncethrough,natgas,surfacewater,saline,22.80,0.00,NOPLANT,NOPLANT,NOPLANT
55,420,Los Angeles,CA,tower,natgas,surfacewater,NOPLANT,0.04,0.03,NOPLANT,NOPLANT,NOPLANT
62,527,Montrose,CO,tower,coal,surfacewater,fresh,0.79,0.56,NOPLANT,NOPLANT,NOPLANT
85,642,Jackson,FL,oncethrough,coal,surfacewater,fresh,3.61,0.04,NOPLANT,NOPLANT,NOPLANT
97,693,Indian River,FL,complex,NOPLANT,surfacewater,saline,1.19,0.00,NOPLANT,NOPLANT,NOPLANT
99,708,Floyd,GA,oncethrough,coal,surfacewater,fresh,117.00,1.24,NOPLANT,NOPLANT,NOPLANT
100,709,Putnam,GA,oncethrough,coal,surfacewater,fresh,66.80,0.67,NOPLANT,NOPLANT,NOPLANT
103,727,Dougherty,GA,oncethrough,coal,surfacewater,fresh,4.77,0.04,NOPLANT,NOPLANT,NOPLANT
105,733,Chatham,GA,oncethrough,NOPLANT,surfacewater,saline,50.90,0.00,NOPLANT,NOPLANT,NOPLANT
111,861,Montgomery,IL,complex,coal,surfacewater,fresh,8.12,5.80,NOPLANT,NOPLANT,NOPLANT
122,891,Mason,IL,tower,coal,surfacewater,fresh,3.60,2.57,NOPLANT,NOPLANT,NOPLANT
123,892,Putnam,IL,oncethrough,coal,surfacewater,fresh,143.00,1.44,NOPLANT,NOPLANT,NOPLANT
124,898,Madison,IL,oncethrough,coal,surfacewater,fresh,209.00,2.13,NOPLANT,NOPLANT,NOPLANT
129,988,Dearborn,IN,oncethrough,NOPLANT,surfacewater,fresh,92.90,0.81,NOPLANT,NOPLANT,NOPLANT
139,1010,Vigo,IN,oncethrough,coal,surfacewater,fresh,197.00,2.00,NOPLANT,NOPLANT,NOPLANT
142,1032,Cass,IN,oncethrough,coal,surfacewater,fresh,20.30,0.20,NOPLANT,NOPLANT,NOPLANT
144,1043,Pike,IN,complex,coal,surfacewater,fresh,7.33,0.08,NOPLANT,NOPLANT,NOPLANT
146,1048,Clinton,IA,oncethrough,coal,surfacewater,fresh,25.80,0.21,NOPLANT,NOPLANT,NOPLANT
149,1077,Marshall,IA,tower,natgas,groundwater,fresh,0.27,0.19,NOPLANT,NOPLANT,NOPLANT
163,1242,Sedgwick,KS,tower,natgas,groundwater,fresh,0.13,0.09,NOPLANT,NOPLANT,NOPLANT
166,1252,Shawnee,KS,tower,coal,surfacewater,fresh,1.76,1.26,NOPLANT,NOPLANT,NOPLANT
175,1357,Muhlenberg,KY,oncethrough,coal,surfacewater,fresh,71.30,0.73,NOPLANT,NOPLANT,NOPLANT
181,1382,Henderson,KY,tower,coal,surfacewater,fresh,2.51,1.79,NOPLANT,NOPLANT,NOPLANT
183,1385,Clark,KY,oncethrough,coal,surfacewater,fresh,5.29,0.04,NOPLANT,NOPLANT,NOPLANT
185,1394,Iberville,LA,oncethrough,natgas,surfacewater,fresh,26.10,0.34,NOPLANT,NOPLANT,NOPLANT
190,1409,Orleans,LA,oncethrough,natgas,surfacewater,saline,158.00,0.00,NOPLANT,NOPLANT,NOPLANT
194,1447,Webster,LA,tower,natgas,surfacewater,NOPLANT,0.00,0.00,NOPLANT,NOPLANT,NOPLANT
195,1449,St Mary,LA,tower,natgas,surfacewater,NOPLANT,0.01,0.01,NOPLANT,NOPLANT,NOPLANT
196,1455,Iberville,LA,tower,natgas,surfacewater,NOPLANT,0.00,0.00,NOPLANT,NOPLANT,NOPLANT
199,1552,Baltimore,MD,oncethrough,coal,surfacewater,saline,47.20,0.00,NOPLANT,NOPLANT,NOPLANT
200,1553,Baltimore City,MD,oncethrough,natgas,surfacewater,saline,2.55,0.00,NOPLANT,NOPLANT,NOPLANT
207,1590,Plymouth,MA,oncethrough,nuclear,surfacewater,saline,511.00,0.00,NOPLANT,NOPLANT,NOPLANT
210,1619,Bristol,MA,tower,coal,surfacewater,saline,4.00,2.86,NOPLANT,NOPLANT,NOPLANT
213,1695,Muskegon,MI,oncethrough,coal,surfacewater,fresh,162.00,1.56,NOPLANT,NOPLANT,NOPLANT
217,1720,Bay,MI,oncethrough,coal,surfacewater,fresh,169.00,1.65,NOPLANT,NOPLANT,NOPLANT
218,1723,Monroe,MI,oncethrough,coal,surfacewater,fresh,172.00,1.66,NOPLANT,NOPLANT,NOPLANT
224,1769,Marquette,MI,oncethrough,coal,surfacewater,fresh,173.00,1.47,NOPLANT,NOPLANT,NOPLANT
225,1771,Delta,MI,oncethrough,coal,surfacewater,fresh,0.87,0.01,NOPLANT,NOPLANT,NOPLANT
228,1830,Ottawa,MI,oncethrough,coal,surfacewater,fresh,11.00,0.10,NOPLANT,NOPLANT,NOPLANT
231,1843,Marquette,MI,oncethrough,coal,surfacewater,fresh,33.00,0.28,NOPLANT,NOPLANT,NOPLANT
233,1888,Martin,MN,oncethrough,natgas,surfacewater,fresh,2.36,0.03,NOPLANT,NOPLANT,NOPLANT
254,2053,Hinds,MS,pond,natgas,surfacewater,fresh,0.00,0.00,NOPLANT,NOPLANT,NOPLANT
256,2062,Leflore,MS,tower,natgas,surfacewater,NOPLANT,0.01,0.01,NOPLANT,NOPLANT,NOPLANT
259,2076,Jasper,MO,complex,coal,groundwater,fresh,24.90,1.24,NOPLANT,NOPLANT,NOPLANT
261,2080,Henry,MO,oncethrough,coal,surfacewater,fresh,147.00,1.50,NOPLANT,NOPLANT,NOPLANT
262,2094,Jackson,MO,oncethrough,coal,surfacewater,fresh,182.00,1.88,NOPLANT,NOPLANT,NOPLANT
273,2171,Clay,MO,oncethrough,coal,surfacewater,fresh,2.84,0.03,NOPLANT,NOPLANT,NOPLANT
274,2187,Yellowstone,MT,oncethrough,coal,surfacewater,fresh,14.20,0.12,NOPLANT,NOPLANT,NOPLANT
278,2289,Washington,NE,oncethrough,nuclear,surfacewater,fresh,356.00,3.50,NOPLANT,NOPLANT,NOPLANT
281,2324,Clark,NV,tower,coal,surfacewater,fresh,0.56,0.40,NOPLANT,NOPLANT,NOPLANT
286,2378,Cape May,NJ,complex,NOPLANT,surfacewater,saline,14.00,0.01,NOPLANT,NOPLANT,NOPLANT
287,2388,Ocean,NJ,oncethrough,nuclear,surfacewater,saline,562.00,0.00,NOPLANT,NOPLANT,NOPLANT
290,2403,Hudson,NJ,oncethrough,NOPLANT,surfacewater,saline,49.40,0.00,NOPLANT,NOPLANT,NOPLANT
292,2408,Mercer,NJ,oncethrough,NOPLANT,surfacewater,fresh,30.30,0.24,NOPLANT,NOPLANT,NOPLANT
305,2497,Westchester,NY,oncethrough,nuclear,surfacewater,saline,984.00,0.00,NOPLANT,NOPLANT,NOPLANT
310,2535,Tompkins,NY,oncethrough,coal,surfacewater,fresh,50.70,0.46,NOPLANT,NOPLANT,NOPLANT
312,2549,Erie,NY,oncethrough,coal,surfacewater,fresh,42.60,0.41,NOPLANT,NOPLANT,NOPLANT
328,2824,Mercer,ND,oncethrough,coal,surfacewater,fresh,84.70,0.85,NOPLANT,NOPLANT,NOPLANT
331,2835,Ashtabula,OH,oncethrough,coal,surfacewater,fresh,8.33,0.06,NOPLANT,NOPLANT,NOPLANT
334,2838,Cuyahoga,OH,oncethrough,coal,surfacewater,fresh,5.95,0.05,NOPLANT,NOPLANT,NOPLANT
336,2850,Adams,OH,complex,coal,surfacewater,fresh,648.00,9.70,NOPLANT,NOPLANT,NOPLANT
338,2872,Washington,OH,oncethrough,coal,surfacewater,fresh,116.00,0.95,NOPLANT,NOPLANT,NOPLANT
401,3497,Freestone,TX,oncethrough,coal,surfacewater,fresh,692.00,7.79,NOPLANT,NOPLANT,NOPLANT
415,3644,Carbon,UT,tower,coal,surfacewater,fresh,0.67,0.48,NOPLANT,NOPLANT,NOPLANT
418,3776,Giles,VA,oncethrough,coal,surfacewater,fresh,5.56,0.05,NOPLANT,NOPLANT,NOPLANT
419,3796,Fluvanna,VA,oncethrough,natgas,surfacewater,fresh,20.20,0.17,NOPLANT,NOPLANT,NOPLANT
426,3936,Kanawha,WV,oncethrough,coal,surfacewater,fresh,43.20,0.35,NOPLANT,NOPLANT,NOPLANT
427,3938,Mason,WV,oncethrough,coal,surfacewater,fresh,48.90,0.40,NOPLANT,NOPLANT,NOPLANT
430,3947,Marshall,WV,oncethrough,NOPLANT,surfacewater,fresh,25.70,0.20,NOPLANT,NOPLANT,NOPLANT
441,4054,Grant,WI,oncethrough,coal,surfacewater,fresh,86.10,0.86,NOPLANT,NOPLANT,NOPLANT
446,4146,Grant,WI,oncethrough,biomass,surfacewater,fresh,20.20,0.20,NOPLANT,NOPLANT,NOPLANT
450,4259,Hillsdale,MI,tower,NOPLANT,groundwater,fresh,0.57,0.40,NOPLANT,NOPLANT,NOPLANT
457,4941,Coconino,AZ,tower,coal,surfacewater,fresh,18.50,13.20,NOPLANT,NOPLANT,NOPLANT
467,6016,Fulton,IL,oncethrough,coal,surfacewater,fresh,192.00,1.85,NOPLANT,NOPLANT,NOPLANT
477,6031,Adams,OH,tower,coal,surfacewater,fresh,5.75,4.11,NOPLANT,NOPLANT,NOPLANT
491,6061,Lamar,MS,tower,coal,groundwater,fresh,0.47,0.34,NOPLANT,NOPLANT,NOPLANT
501,6082,Niagara,NY,oncethrough,coal,surfacewater,fresh,52.10,0.41,NOPLANT,NOPLANT,NOPLANT
505,6094,Beaver,PA,tower,coal,surfacewater,fresh,20.20,14.40,NOPLANT,NOPLANT,NOPLANT
521,6136,Grimes,TX,oncethrough,coal,surfacewater,fresh,198.00,2.18,NOPLANT,NOPLANT,NOPLANT
527,6147,Titus,TX,oncethrough,coal,surfacewater,fresh,525.00,6.31,NOPLANT,NOPLANT,NOPLANT
536,6170,Kenosha,WI,tower,coal,surfacewater,fresh,11.00,7.84,NOPLANT,NOPLANT,NOPLANT
569,6648,Milam,TX,pond,coal,surfacewater,fresh,5.32,5.32,NOPLANT,NOPLANT,NOPLANT
594,7513,Aroostook,ME,tower,biomass,surfacewater,NOPLANT,0.44,0.32,NOPLANT,NOPLANT,NOPLANT
597,7549,Milwaukee,WI,tower,NOPLANT,surfacewater,NOPLANT,0.31,0.22,NOPLANT,NOPLANT,NOPLANT
634,8011,Dauphin,PA,tower,nuclear,surfacewater,fresh,12.60,8.97,NOPLANT,NOPLANT,NOPLANT
657,10012,Warren,NJ,tower,biomass,groundwater,fresh,0.25,0.18,NOPLANT,NOPLANT,NOPLANT
664,10071,Portsmouth City,VA,tower,coal,groundwater,saline,0.15,0.11,NOPLANT,NOPLANT,NOPLANT
666,10090,Los Angeles,CA,tower,biomass,surfacewater,NOPLANT,0.21,0.15,NOPLANT,NOPLANT,NOPLANT
674,10168,Santa Clara,CA,tower,natgas,surfacewater,NOPLANT,0.13,0.09,NOPLANT,NOPLANT,NOPLANT
680,10333,Hernando,FL,pond,biomass,surfacewater,fresh,0.64,0.64,NOPLANT,NOPLANT,NOPLANT
684,10350,Sutter,CA,complex,natgas,groundwater,fresh,0.00,0.00,NOPLANT,NOPLANT,NOPLANT
686,10356,Aroostook,ME,tower,biomass,surfacewater,fresh,0.51,0.37,NOPLANT,NOPLANT,NOPLANT
687,10377,Hopewell City,VA,tower,coal,surfacewater,fresh,0.00,0.00,NOPLANT,NOPLANT,NOPLANT
691,10384,Edgecombe,NC,tower,coal,surfacewater,fresh,0.12,0.09,NOPLANT,NOPLANT,NOPLANT
692,10395,Orange,CA,tower,natgas,surfacewater,NOPLANT,0.13,0.09,NOPLANT,NOPLANT,NOPLANT
708,10641,Cambria,PA,tower,coal,surfacewater,fresh,1.16,0.83,NOPLANT,NOPLANT,NOPLANT
713,10672,Duval,FL,tower,coal,surfacewater,fresh,0.64,0.46,NOPLANT,NOPLANT,NOPLANT
720,10741,Harris,TX,tower,natgas,surfacewater,NOPLANT,0.74,0.53,NOPLANT,NOPLANT,NOPLANT
721,10743,Monongalia,WV,oncethrough,coal,surfacewater,fresh,20.00,0.20,NOPLANT,NOPLANT,NOPLANT
737,10810,San Diego,CA,complex,natgas,surfacewater,NOPLANT,0.87,0.16,NOPLANT,NOPLANT,NOPLANT
738,10811,San Diego,CA,tower,natgas,surfacewater,NOPLANT,0.21,0.15,NOPLANT,NOPLANT,NOPLANT
739,10812,San Diego,CA,tower,natgas,surfacewater,NOPLANT,0.32,0.23,NOPLANT,NOPLANT,NOPLANT
764,50407,Mobile,AL,tower,NOPLANT,surfacewater,NOPLANT,0.57,0.41,NOPLANT,NOPLANT,NOPLANT
770,50497,Hudson,NJ,tower,natgas,surfacewater,NOPLANT,0.04,0.03,NOPLANT,NOPLANT,NOPLANT
806,50876,Los Angeles,CA,tower,natgas,surfacewater,NOPLANT,0.05,0.03,NOPLANT,NOPLANT,NOPLANT
809,50879,Schuylkill,PA,tower,coal,surfacewater,NOPLANT,0.67,0.48,NOPLANT,NOPLANT,NOPLANT
821,50966,Richmond City,VA,tower,natgas,surfacewater,fresh,1.21,0.86,NOPLANT,NOPLANT,NOPLANT
827,52007,Mecklenburg,VA,tower,coal,surfacewater,fresh,0.69,0.49,NOPLANT,NOPLANT,NOPLANT
830,52071,Milam,TX,complex,coal,surfacewater,fresh,239.00,3.34,NOPLANT,NOPLANT,NOPLANT
832,52118,Pittsylvania,VA,tower,biomass,surfacewater,fresh,0.67,0.48,NOPLANT,NOPLANT,NOPLANT
835,54033,Broward,FL,tower,biomass,surfacewater,NOPLANT,0.34,0.24,NOPLANT,NOPLANT,NOPLANT
837,54035,Halifax,NC,tower,coal,surfacewater,NOPLANT,0.26,0.18,NOPLANT,NOPLANT,NOPLANT
852,54424,Pasco,FL,tower,natgas,groundwater,fresh,0.24,0.17,NOPLANT,NOPLANT,NOPLANT
856,54526,Lewis,NY,tower,biomass,surfacewater,fresh,0.24,0.17,NOPLANT,NOPLANT,NOPLANT
857,54529,Polk,FL,tower,biomass,groundwater,fresh,1.18,0.84,NOPLANT,NOPLANT,NOPLANT
860,54561,SANTA CLARA,CA,tower,natgas,groundwater,fresh,0.23,0.16,NOPLANT,NOPLANT,NOPLANT
861,54579,Minidoka,ID,tower,natgas,groundwater,fresh,0.01,0.01,NOPLANT,NOPLANT,NOPLANT
876,54755,Halifax,NC,tower,NOPLANT,surfacewater,NOPLANT,0.03,0.02,NOPLANT,NOPLANT,NOPLANT
907,55098,Hidalgo,TX,tower,natgas,surfacewater,fresh,2.24,1.60,NOPLANT,NOPLANT,NOPLANT
910,55104,Orange,TX,complex,natgas,surfacewater,fresh,0.54,0.38,NOPLANT,NOPLANT,NOPLANT
968,55302,Davis,UT,tower,biomass,surfacewater,NOPLANT,0.16,0.11,NOPLANT,NOPLANT,NOPLANT
1033,55853,Riverside,CA,tower,natgas,pws,fresh,0.56,0.40,NOPLANT,NOPLANT,NOPLANT
1083,56931,Angelina,TX,tower,biomass,surfacewater,NOPLANT,0.01,0.01,NOPLANT,NOPLANT,NOPLANT
1109,58518,Cabarrus,NC,pond,biomass,surfacewater,NOPLANT,0.02,0.02,NOPLANT,NOPLANT,NOPLANT

In [2]:
df = df.groupby('fuel_type')[['sub_fuel','fuel_efficiency','parameter2']].apply(lambda x: x.set_index('sub_fuel').to_dict(orient='index')).to_dict()

In [2]:
round(df).sum()

FIPS                                                            0100101003010050100701009010110101301015010170...
State                                                           ALALALALALALALALALALALALALALALALALALALALALALAL...
County                                                          Autauga CountyBaldwin CountyBarbour CountyBibb...
fresh_surfacewater_biomass_ethanol_mgd                                                                      332.0
fresh_groundwater_biomass_ethanol_mgd                                                                       411.0
total_water_use_biomass_ethanol_mgd                                                                         769.0
total_produced_water_biomass_ethanol_mgd                                                                      0.0
total_water_use_coal_surface_mgd                                                                              7.0
total_produced_water_coal_surface_mgd                                                                         0.0
total_water_use_coal_underground_mgd                                                                         14.0
total_produced_water_coal_underground_mgd                                                                     0.0
fresh_surfacewater_natgas_unconventional_mgd                                                                 28.0
fresh_groundwater_natgas_unconventional_mgd                                                                   1.0
total_water_use_natgas_unconventional_mgd                                                                    37.0
total_produced_water_natgas_unconventional_mgd                                                              209.0
fresh_surfacewater_petroleum_unconventional_mgd                                                              23.0
fresh_groundwater_petroleum_unconventional_mgd                                                                3.0
total_water_use_petroleum_unconventional_mgd                                                                 30.0
total_produced_water_petroleum_unconventional_mgd                                                          2069.0
total_water_use_petroleum_conventional_mgd                                                                  202.0
total_produced_water_petroleum_conventional_mgd                                                               0.0
fresh_wastewater_biomass_ethanol_mgd                                                                          0.0
saline_surfacewater_biomass_ethanol_mgd                                                                       0.0
saline_groundwater_biomass_ethanol_mgd                                                                        0.0
saline_wastewater_biomass_ethanol_mgd                                                                         0.0
fresh_surfacewater_coal_surface_mgd                                                                           3.0
fresh_groundwater_coal_surface_mgd                                                                            2.0
fresh_wastewater_coal_surface_mgd                                                                             0.0
saline_surfacewater_coal_surface_mgd                                                                          0.0
saline_groundwater_coal_surface_mgd                                                                           1.0
saline_wastewater_coal_surface_mgd                                                                            0.0
fresh_surfacewater_coal_underground_mgd                                                                       2.0
fresh_groundwater_coal_underground_mgd                                                                        1.0
fresh_wastewater_coal_underground_mgd                                                                         0.0
saline_surfacewater_coal_underground_mgd                                                                      0.0
saline_groundwater_coal_underground_mgd                                                                       0.0
saline_wastewater_coal_underground_mgd                                                                        0.0
fresh_wastewater_natgas_unconventional_mgd                                                                    0.0
saline_surfacewater_natgas_unconventional_mgd                                                                 0.0
saline_groundwater_natgas_unconventional_mgd                                                                  0.0
saline_wastewater_natgas_unconventional_mgd                                                                   0.0
fresh_wastewater_petroleum_unconventional_mgd                                                                 0.0
saline_surfacewater_petroleum_unconventional_mgd                                                              0.0
saline_groundwater_petroleum_unconventional_mgd                                                               0.0
saline_wastewater_petroleum_unconventional_mgd                                                                0.0
fresh_surfacewater_petroleum_conventional_mgd                                                               161.0
fresh_groundwater_petroleum_conventional_mgd                                                                 26.0
fresh_wastewater_petroleum_conventional_mgd                                                                   0.0
saline_surfacewater_petroleum_conventional_mgd                                                                0.0
saline_groundwater_petroleum_conventional_mgd                                                                 0.0
saline_wastewater_petroleum_conventional_mgd                                                                  0.0
biomass_ethanol_consumption_mgd                                                                             588.0
coal_surface_consumption_mgd                                                                                  2.0
coal_underground_consumption_mgd                                                                              1.0
natgas_unconventional_consumption_mgd                                                                       107.0
petroleum_unconventional_consumption_mgd                                                                    598.0
petroleum_conventional_consumption_mgd                                                                        3.0
biomass_ethanol_fresh_surfacewater_consumption_mgd                                                          266.0
biomass_ethanol_fresh_groundwater_consumption_mgd                                                           310.0
biomass_ethanol_fresh_wastewater_consumption_mgd                                                              0.0
biomass_ethanol_saline_surfacewater_consumption_mgd                                                           0.0
biomass_ethanol_saline_groundwater_consumption_mgd                                                            0.0
biomass_ethanol_saline_wastewater_consumption_mgd                                                             0.0
coal_surface_fresh_surfacewater_consumption_mgd                                                               1.0
coal_surface_fresh_groundwater_consumption_mgd                                                                1.0
coal_surface_fresh_wastewater_consumption_mgd                                                                 0.0
coal_surface_saline_surfacewater_consumption_mgd                                                              0.0
coal_surface_saline_groundwater_consumption_mgd                                                               0.0
coal_surface_saline_wastewater_consumption_mgd                                                                0.0
coal_underground_fresh_surfacewater_consumption_mgd                                                           0.0
coal_underground_fresh_groundwater_consumption_mgd                                                            0.0
coal_underground_fresh_wastewater_consumption_mgd                                                             0.0
coal_underground_saline_surfacewater_consumption_mgd                                                          0.0
coal_underground_saline_groundwater_consumption_mgd                                                           0.0
coal_underground_saline_wastewater_consumption_mgd                                                            0.0
natgas_unconventional_fresh_surfacewater_consumption_mgd                                                     28.0
natgas_unconventional_produced_water_consumption_mgd                                                          2.0
natgas_unconventional_fresh_groundwater_consumption_mgd                                                       1.0
natgas_unconventional_fresh_wastewater_consumption_mgd                                                        0.0
natgas_unconventional_saline_surfacewater_consumption_mgd                                                     0.0
natgas_unconventional_saline_groundwater_consumption_mgd                                                      0.0
natgas_unconventional_saline_wastewater_consumption_mgd                                                       0.0
petroleum_unconventional_fresh_surfacewater_consumption_mgd                                                   0.0
petroleum_unconventional_produced_water_consumption_mgd                                                      69.0
petroleum_unconventional_fresh_groundwater_consumption_mgd                                                    0.0
petroleum_unconventional_fresh_wastewater_consumption_mgd                                                     0.0
petroleum_unconventional_saline_surfacewater_consumption_mgd                                                  0.0
petroleum_unconventional_saline_groundwater_consumption_mgd                                                   0.0
petroleum_unconventional_saline_wastewater_consumption_mgd                                                    0.0
petroleum_conventional_fresh_surfacewater_consumption_mgd                                                     2.0
petroleum_conventional_fresh_groundwater_consumption_mgd                                                      0.0
petroleum_conventional_fresh_wastewater_consumption_mgd                                                       0.0
petroleum_conventional_saline_surfacewater_consumption_mgd                                                    0.0
petroleum_conventional_saline_groundwater_consumption_mgd                                                     0.0
petroleum_conventional_saline_wastewater_consumption_mgd                                                      0.0
biomass_ethanol_surface_discharge_mgd                                                                       187.0
biomass_ethanol_ground_discharge_mgd                                                                          0.0
coal_surface_surface_discharge_mgd                                                                            4.0
coal_surface_ground_discharge_mgd                                                                             0.0
coal_underground_surface_discharge_mgd                                                                        4.0
coal_underground_ground_discharge_mgd                                                                         0.0
natgas_unconventional_surface_discharge_mgd                                                                  20.0
natgas_unconventional_ground_discharge_mgd                                                                  112.0
petroleum_unconventional_surface_discharge_mgd                                                              187.0
petroleum_unconventional_ground_discharge_mgd                                                              1274.0
petroleum_conventional_surface_discharge_mgd                                                                  3.0
petroleum_conventional_ground_discharge_mgd                                                                 179.0
dtype: object

In [9]:
54+45

99

In [2]:
for col in df.columns:
    print(col)

FIPS
State
County
fresh_groundwater_coal_production_fraction
fresh_surfacewater_coal_production_fraction
saline_groundwater_coal_production_fraction
saline_surfacewater_coal_production_fraction

In [4]:
for col in df.columns:
    print(col)

FIPS
State
County
fresh_surfacewater_biomass_ethanol_mgd
fresh_groundwater_biomass_ethanol_mgd
total_water_use_biomass_ethanol_mgd
total_produced_water_biomass_ethanol_mgd
total_water_use_coal_surface_mgd
total_produced_water_coal_surface_mgd
total_water_use_coal_underground_mgd
total_produced_water_coal_underground_mgd
fresh_surfacewater_natgas_unconventional_mgd
fresh_groundwater_natgas_unconventional_mgd
total_water_use_natgas_unconventional_mgd
total_produced_water_natgas_unconventional_mgd
fresh_surfacewater_petroleum_unconventional_mgd
fresh_groundwater_petroleum_unconventional_mgd
total_water_use_petroleum_unconventional_mgd
total_produced_water_petroleum_unconventional_mgd
total_water_use_petroleum_conventional_mgd
total_produced_water_petroleum_conventional_mgd
saline_surfacewater_biomass_ethanol_mgd
saline_groundwater_biomass_ethanol_mgd
fresh_surfacewater_coal_surface_mgd
fresh_groundwater_coal_surface_mgd
saline_surfacewater_coal_surface_mgd
saline_groundwater_coal_surface_mgd
fresh_surfacewater_coal_underground_mgd
fresh_groundwater_coal_underground_mgd
saline_surfacewater_coal_underground_mgd
saline_groundwater_coal_underground_mgd
saline_surfacewater_natgas_unconventional_mgd
saline_groundwater_natgas_unconventional_mgd
saline_surfacewater_petroleum_unconventional_mgd
saline_groundwater_petroleum_unconventional_mgd
fresh_surfacewater_petroleum_conventional_mgd
fresh_groundwater_petroleum_conventional_mgd
saline_surfacewater_petroleum_conventional_mgd
saline_groundwater_petroleum_conventional_mgd
biomass_ethanol_consumption_mgd
coal_surface_consumption_mgd
coal_underground_consumption_mgd
natgas_unconventional_consumption_mgd
petroleum_unconventional_consumption_mgd
petroleum_conventional_consumption_mgd
biomass_ethanol_fresh_surfacewater_consumption_mgd
biomass_ethanol_fresh_groundwater_consumption_mgd
biomass_ethanol_saline_surfacewater_consumption_mgd
biomass_ethanol_saline_groundwater_consumption_mgd
coal_surface_fresh_surfacewater_consumption_mgd
coal_surface_fresh_groundwater_consumption_mgd
coal_surface_saline_surfacewater_consumption_mgd
coal_surface_saline_groundwater_consumption_mgd
coal_underground_fresh_surfacewater_consumption_mgd
coal_underground_fresh_groundwater_consumption_mgd
coal_underground_saline_surfacewater_consumption_mgd
coal_underground_saline_groundwater_consumption_mgd
natgas_unconventional_fresh_surfacewater_consumption_mgd
natgas_unconventional_produced_water_consumption_mgd
natgas_unconventional_fresh_groundwater_consumption_mgd
natgas_unconventional_saline_surfacewater_consumption_mgd
natgas_unconventional_saline_groundwater_consumption_mgd
petroleum_unconventional_fresh_surfacewater_consumption_mgd
petroleum_unconventional_produced_water_consumption_mgd
petroleum_unconventional_fresh_groundwater_consumption_mgd
petroleum_unconventional_saline_surfacewater_consumption_mgd
petroleum_unconventional_saline_groundwater_consumption_mgd
petroleum_conventional_fresh_surfacewater_consumption_mgd
petroleum_conventional_fresh_groundwater_consumption_mgd
petroleum_conventional_saline_surfacewater_consumption_mgd
petroleum_conventional_saline_groundwater_consumption_mgd
biomass_ethanol_surface_discharge_mgd
biomass_ethanol_ocean_discharge_mgd
biomass_ethanol_ground_discharge_mgd
coal_surface_surface_discharge_mgd
coal_surface_ocean_discharge_mgd
coal_surface_ground_discharge_mgd
coal_underground_surface_discharge_mgd
coal_underground_ocean_discharge_mgd
coal_underground_ground_discharge_mgd
natgas_unconventional_surface_discharge_mgd
natgas_unconventional_ocean_discharge_mgd
natgas_unconventional_ground_discharge_mgd
petroleum_unconventional_surface_discharge_mgd
petroleum_unconventional_ocean_discharge_mgd
petroleum_unconventional_ground_discharge_mgd
petroleum_conventional_surface_discharge_mgd
petroleum_conventional_ocean_discharge_mgd
petroleum_conventional_ground_discharge_mgd

In [2]:
48384*0.00016149393844372542

7.813722717661211

In [3]:
df.sum()

FIPS                                                      0100101003010050100701009010110101301015010170...
State                                                     ALALALALALALALALALALALALALALALALALALALALALALAL...
County                                                    Autauga CountyBaldwin CountyBarbour CountyBibb...
petroleum_production_bbtu                                                                        16469427.0
petroleum_unconventional_production_bbtu                                                        10375739.01
petroleum_conventional_production_bbtu                                                           6093687.99
petroleum_conventional_water_use_intensity_mg_per_bbtu                                             0.000001
fresh_surfacewater_petroleum_unconventional_mgd                                                 1311.961855
fresh_groundwater_petroleum_unconventional_mgd                                                   358.405464
dtype: object

In [19]:

df['total_water'] = df['fresh_surfacewater_natgas_unconventional_mgd'] + df['fresh_groundwater_natgas_unconventional_mgd']
df['intensity'] = np.where(df['natgas_unconventional_production_bbtu']>0, df['total_water']/(df['natgas_unconventional_production_bbtu']/365), 0)
df['sw_pct'] = np.where( df['total_water']>0, df['fresh_surfacewater_natgas_unconventional_mgd']/df['total_water'], 0)
df['gw_pct'] = np.where( df['total_water']>0, df['fresh_groundwater_natgas_unconventional_mgd']/df['total_water'], 0)

df.groupby("State", as_index=False).sum()
x = df['intensity'].mean()
x

0.00016149393844372542

In [25]:

# initialize data of lists.
d_list = {'Name':['Tom', 'Tom','nick', 'krish', 'jack'],
        'Age':[20, 22, 21, 19, 18],
         'height':[20,21, 21, 19, 18]}
 
# Create DataFrame
d_list = pd.DataFrame(d_list)
d_list.head()

d_list = d_list.groupby('Name').apply(lambda x: x.set_index('Age').to_dict(orient='index')).to_dict()
d_list

{'Tom': {20: {'Name': 'Tom', 'height': 20}, 22: {'Name': 'Tom', 'height': 21}},
 'jack': {18: {'Name': 'jack', 'height': 18}},
 'krish': {19: {'Name': 'krish', 'height': 19}},
 'nick': {21: {'Name': 'nick', 'height': 21}}}

In [7]:
df3 = pd.DataFrame([
           ['A', 123, 1], 
           ['B', 345, 5], 
           ['C', 712, 4],
           ['B', 768, 2], 
           ['B', 768, 3], 
           ['A', 123, 9], 
           ['C', 178, 6], 
           ['C', 178, 5],  
           ['A', 321, 3]])

d = {k: f.groupby('subgroup')['selectedCol'].apply(list).to_dict()
     for k, f in df.groupby('maingroup')}
d

KeyError: 'maingroup'

In [2]:
for col in df.columns:
    print(col)

FIPS
State
County
fresh_surfacewater_biomass_ethanol_mgd
fresh_groundwater_biomass_ethanol_mgd
total_water_use_coal_surface_mgd
total_produced_water_coal_surface_mgd
total_water_use_coal_underground_mgd
total_produced_water_coal_underground_mgd
total_water_use_natgas_unconventional_mgd
total_produced_water_natgas_unconventional_mgd
fresh_surfacewater_coal_surface_mgd
fresh_groundwater_coal_surface_mgd
saline_surfacewater_coal_surface_mgd
saline_groundwater_coal_surface_mgd
fresh_surfacewater_coal_underground_mgd
fresh_groundwater_coal_underground_mgd
saline_surfacewater_coal_underground_mgd
saline_groundwater_coal_underground_mgd
fresh_surfacewater_natgas_unconventional_mgd
fresh_groundwater_natgas_unconventional_mgd
saline_surfacewater_natgas_unconventional_mgd
saline_groundwater_natgas_unconventional_mgd
biomass_ethanol_consumption_mgd
coal_surface_consumption_mgd
coal_underground_consumption_mgd
natgas_unconventional_consumption_mgd
petroleum_unconventional_consumption_mgd
petroleum_conventional_consumption_mgd
biomass_ethanol_fresh_surfacewater_consumption_mgd
biomass_ethanol_fresh_groundwater_consumption_mgd
coal_surface_fresh_surfacewater_consumption_mgd
coal_surface_fresh_groundwater_consumption_mgd
coal_surface_saline_surfacewater_consumption_mgd
coal_surface_saline_groundwater_consumption_mgd
coal_underground_fresh_surfacewater_consumption_mgd
coal_underground_fresh_groundwater_consumption_mgd
coal_underground_saline_surfacewater_consumption_mgd
coal_underground_saline_groundwater_consumption_mgd
natgas_unconventional_fresh_surfacewater_consumption_mgd
natgas_unconventional_produced_water_consumption_mgd
natgas_unconventional_fresh_groundwater_consumption_mgd
natgas_unconventional_saline_surfacewater_consumption_mgd
natgas_unconventional_saline_groundwater_consumption_mgd
biomass_ethanol_surface_discharge_mgd
biomass_ethanol_ocean_discharge_mgd
biomass_ethanol_ground_discharge_mgd
coal_surface_surface_discharge_mgd
coal_surface_ocean_discharge_mgd
coal_surface_ground_discharge_mgd
coal_underground_surface_discharge_mgd
coal_underground_ocean_discharge_mgd
coal_underground_ground_discharge_mgd
natgas_unconventional_surface_discharge_mgd
natgas_unconventional_ocean_discharge_mgd
natgas_unconventional_ground_discharge_mgd

In [4]:
df = data.copy()

In [12]:
# def calc_coal_production_water_use(data: pd.DataFrame, mine_types = None, water_types=None, discharge_types = None,
#                                   regions=3, total=False):
#    """calculates total water use in hydroelectric generation by region.
#
#        Water use is determined by applying hydropower water intensity rates (mg/bbtu) to daily hydropower generation
#        (bbtu) to get mgd in each region. Water use can be interpreted as the amount of water that passes through
#        the hydropower facility on a daily basis, based on average power generation per day. If region-level hydropower
#        water intensity rates are not available, an intensity assumption is applied to all hydropower generation.
#        Surface discharge from hydropower is also calculated. This is assumed to be equal to water use in hydropower.
#        No water is assumed to be consumed or evaporated given that the water included in this calculation only
#        includes water that instantaneously passes through the hydropower facility and is immediately discharged back
#        to the surface water source.
#
#        :param data:                        DataFrame of input data
#        :type data:                         DataFrame
#
#        :param hydro_water_intensity:       The assumed million gallons required to get a billion btu from hydropower
#        :type hydro_water_intensity:        flt
#
#        :param regions:                     gives the number of columns in the dataset that should be treated as region
#                                            identifiers (e.g. "Country", "State"). Reads from the first column in the
#                                            dataframe onwards.
#        :type regions:                      int
#
#        :return:                            DataFrame of total water use by hydropower generation (mgd) and hydropower
#                                            discharge to surface waters (mgd) by region.
#
#        """
#
#    if mine_types is None:
#        mine_type_dict = {'surface': 0.000007, 'ground': 0.000029}
#    else:
#        mine_type_dict = mine_types
#
#    if water_types is None:
#        water_type_dict = {'fresh': {'surfacewater': {'flow_fraction': .5, 'consumption_fraction': .5},
#                                    'groundwater': {'flow_fraction': .5, 'consumption_fraction': .5}},
#                           'saline': {'surfacewater': {'flow_fraction': .5, 'consumption_fraction': .5},
#                                    'groundwater': {'flow_fraction': .5, 'consumption_fraction': .5}}}
#    else:
#        water_type_dict = water_types
#
#    if discharge_types is None:
#        discharge_type_dict = {'surface': 1}
#    else:
#        discharge_type_dict = discharge_types
#
#    # load data
#    df = data
#
#    region_list = df.columns[:regions].tolist()
#    output_df = df[region_list].copy()
#    total_df = df[region_list].copy()
#
#    for water_type in water_type_dict:
#        for water_source in water_type_dict[water_type]:
#            coal_water_total_name = f'{water_type}_{water_source}_coal_mgd'
#            output_df[coal_water_total_name] = 0
#            total_df[coal_water_total_name] = 0
#
#    # calculate total water to all mining (inclusive of coal)
#    df['total_water_mining_mgd'] = 0
#    for water_type in water_type_dict:
#        for water_source in water_type_dict[water_type]:
#            mining_water_flow_name = f'{water_type}_{water_source}_mining_mgd'
#            if mining_water_flow_name in df.columns:
#                df['total_water_mining_mgd'] = df['total_water_mining_mgd'] + df[mining_water_flow_name]
#            else:
#                pass
#
#    # calculate percent of total mining flows by water type and water source
#    for water_type in water_type_dict:
#        for water_source in water_type_dict[water_type]:
#
#            mining_water_flow_pct_name = f'{water_type}_{water_source}_mining_pct'
#
#            if mining_water_flow_pct_name in df.columns: #if the percent of water flows to coal mining in data
#                pass
#
#            else:  # if only water flows to all mining in data
#                mining_water_flow_name = f'{water_type}_{water_source}_mining_mgd'
#                if mining_water_flow_name in df.columns:  # if water type and water source to all mining in data
#                    df[mining_water_flow_pct_name] = np.where(df['total_water_mining_mgd'] > 0,
#                                                          (df[mining_water_flow_name] / df['total_water_mining_mgd']),
#                                                          0)
#                else:  # if no breakdown of water source and water type to all mining in data
#                    df[mining_water_flow_pct_name] = water_type_dict[water_type][water_source]['flow_fraction']
#
#            # calculate water in coal mining for each mine type by water type and water source
#            for mine_type in mine_type_dict:
#                coal_shortton_name = f'{mine_type}_coal_shortton'
#                if coal_shortton_name in df.columns:
#                    coal_water_intensity_name = f'{mine_type}_coal_water_intensity_mg_per_shortton'
#                    coal_water_total_name = f'{water_type}_{water_source}_coal_mgd'
#                    if coal_water_intensity_name in df.columns:  # if regional water intensity values available
#                        coal_water_mgd_name = f"{water_type}_{water_source}_{mine_type}_coal_mgd"
#                        output_df[coal_water_mgd_name] = df[coal_water_intensity_name] \
#                                                         * (df[coal_shortton_name]/365) \
#                                                         * df[mining_water_flow_pct_name]
#                        output_df[coal_water_total_name] = output_df[coal_water_total_name] \
#                                                           + output_df[coal_water_mgd_name]
#                        total_df[coal_water_total_name] = total_df[coal_water_total_name] \
#                                                          + output_df[coal_water_mgd_name]
#
#                    else:  # if no regional water intensity available, use assumption
#                        coal_water_mgd_name = f"{water_type}_{water_source}_{mine_type}_coal_mgd"
#                        output_df[coal_water_mgd_name] = mine_type_dict[mine_type] \
#                                                         * (df[coal_shortton_name]/365) \
#                                                         * df[mining_water_flow_pct_name]
#                        output_df[coal_water_total_name] = output_df[coal_water_total_name] \
#                                                           + output_df[coal_water_mgd_name]
#                        total_df[coal_water_total_name] = total_df[coal_water_total_name] \
#                                                          + output_df[coal_water_mgd_name]
#                else:  # if no coal mining available
#                    pass
#
## TODO pick things up here
#
#            # calculate consumption of water in coal mining by water type and water source
#
#            # look for region- mining consumption fraction, apply it
#
#            # otherwise use dictionary values water_type_dict[water_type][water_source]['consumption_fraction']
#
#            ## look for region- mining discharge fraction, apply it
#            # for discharge_type in discharge_type dictionary:
#                #discharge_type_name = f'{water_type}_{water_source}_{mine_type}_{discharge_type}_discharge_mgd
#                #discharge_pct_name = f'{water_type}_{water_source}_{mine_type}_{discharge_type}_discharge_pct
#
#                # if discharge_pct_name in df.columns:
#                    # apply pct to total discharge
#                # else:
#                    # apply pct from dictionary
#            #
#
#    # TODO add in consumption and surface discharge


#    if total:
#        df = total_df
#    else:
#        df = output_df
#
#    return df

KeyError: 'underground'

In [21]:
for mine_type in fuel_water_type_dict['coal']:
    for water_type in fuel_water_type_dict['coal'][mine_type]:
        print(water_type)

fresh
saline
fresh
saline

In [3]:
df.sum()

FIPS                                    0100101003010050100701009010110101301015010170...
State                                   ALALALALALALALALALALALALALALALALALALALALALALAL...
County                                  Autauga CountyBaldwin CountyBarbour CountyBibb...
fresh_surfacewater_coal_mgd                                             1153726384.402169
fresh_groundwater_coal_mgd                                              1702024293.930241
saline_surfacewater_coal_mgd                                                          0.0
saline_groundwater_coal_mgd                                             1220082621.667591
fresh_surfacewater_surface_coal_mgd                                     1153726384.402169
fresh_groundwater_surface_coal_mgd                                      1702024293.930241
saline_surfacewater_surface_coal_mgd                                                  0.0
saline_groundwater_surface_coal_mgd                                     1220082621.667591
dtype: object

In [2]:
df = flow.prep_electricity_generation()
df

,FIPS,State,County,biomass_fuel_bbtu,coal_fuel_bbtu,geothermal_fuel_bbtu,hydro_fuel_bbtu,natural_gas_fuel_bbtu,nuclear_fuel_bbtu,other_fuel_bbtu,...,biomass_gen_bbtu,coal_gen_bbtu,geothermal_gen_bbtu,hydro_gen_bbtu,natural_gas_gen_bbtu,nuclear_gen_bbtu,other_gen_bbtu,petroleum_gen_bbtu,solar_gen_bbtu,wind_gen_bbtu
0,01001,AL,Autauga County,15636.424,1322.742,0.0,2892.401,116377.525,0.0,0.0,...,1595.51944,137.056628,0.0,1059.006324,53832.918712,0.0,0.0,15.654256,0.0,0.0
1,01003,AL,Baldwin County,0.000,0.000,0.0,0.000,0.000,0.0,0.0,...,0.00000,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.0,0.0
2,01005,AL,Barbour County,0.000,0.000,0.0,0.000,0.000,0.0,0.0,...,0.00000,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.0,0.0
3,01007,AL,Bibb County,0.000,0.000,0.0,0.000,0.000,0.0,0.0,...,0.00000,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.0,0.0
4,01009,AL,Blount County,0.000,0.000,0.0,0.000,0.000,0.0,0.0,...,0.00000,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3218,72151,PR,Yabucoa Municipio,0.000,0.000,0.0,0.000,0.000,0.0,0.0,...,0.00000,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.0,0.0
3219,72153,PR,Yauco Municipio,0.000,0.000,0.0,0.000,0.000,0.0,0.0,...,0.00000,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.0,0.0
3220,78010,VI,St. Croix County,0.000,0.000,0.0,0.000,0.000,0.0,0.0,...,0.00000,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.0,0.0
3221,78020,VI,St. John County,0.000,0.000,0.0,0.000,0.000,0.0,0.0,...,0.00000,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.0,0.0
3222,78030,VI,St. Thomas County,0.000,0.000,0.0,0.000,0.000,0.0,0.0,...,0.00000,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.0,0.0

In [6]:
data = flow.configure_data()
sector_types = {'crop_irrigation': .15, 'golf_irrigation': .10}


df=flow.calc_water_conveyance_losses(data=data, sector_types=sector_types, total=True)
for col in df.columns:
    print(col)

FIPS
State
County
crop_irrigation_conveyance_loss_mgd
golf_irrigation_conveyance_loss_mgd

In [9]:
df = df.groupby('State', as_index=False).sum()
df

,State,population,fresh_groundwater_pws_mgd,fresh_surfacewater_pws_mgd,saline_groundwater_pws_mgd,saline_surfacewater_pws_mgd,fresh_pws_residential_mgd,total_pws_withdrawals_mgd_x,fresh_groundwater_residential_mgd,fresh_surfacewater_residential_mgd,...,pws_saline_surfacewater_treatment_energy_services_bbtu,electricity_pws_saline_surfacewater_distribution_bbtu,pws_saline_surfacewater_distribution_rejected_energy_bbtu,pws_saline_surfacewater_distribution_energy_services_bbtu,pws_total_ibt_energy_bbtu,pws_total_ibt_energy_services_bbtu,pws_total_ibt_rejected_energy_bbtu,electricity_pws_ibt_bbtu,electricity_pws_ibt_rejected_energy_bbtu,electricity_pws_ibt_energy_services_bbtu
0,AK,738.432,37.83,61.35,0.00,0.00,61.63,99.18,9.83,1.59,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,AL,4858.979,271.91,489.62,0.00,0.00,320.45,761.53,36.68,0.00,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,AR,2978.204,94.22,268.84,0.00,0.00,252.09,363.06,12.85,0.00,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
3,AZ,6828.065,568.92,626.23,0.00,0.00,963.30,1195.15,24.00,0.00,...,0.000000,0.000000,0.000000,0.000000,3780.038702,2457.025156,1323.013546,3780.038702,1323.013546,2457.025156
4,CA,39144.818,2313.05,2782.65,52.04,0.00,3227.97,5147.74,108.23,18.51,...,0.000000,0.000000,0.000000,0.000000,14145.762931,9194.745905,4951.017026,14145.762931,4951.017026,9194.745905
5,CO,5456.574,109.05,734.90,0.00,0.00,636.69,843.95,35.37,0.00,...,0.000000,0.000000,0.000000,0.000000,19.315322,12.554960,6.760363,19.315322,6.760363,12.554960
6,CT,3590.886,43.01,196.92,0.00,0.00,95.99,239.93,30.83,0.00,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
7,DC,672.228,0.00,0.00,0.00,0.00,44.78,0.00,0.00,0.00,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
8,DE,945.934,45.75,40.60,0.00,0.00,61.14,86.35,14.53,0.00,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
9,FL,20271.272,1908.67,305.91,169.14,1.13,1502.14,2384.85,176.92,0.00,...,12.811342,1.463631,0.512271,0.951360,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
10,GA,10214.860,230.89,839.09,0.00,0.00,660.69,1069.98,104.48,0.00,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
11,HI,1431.603,252.31,14.61,0.00,0.00,198.04,266.92,0.66,7.44,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
12,IA,3123.899,313.57,76.81,0.00,0.00,170.74,390.38,31.97,0.00,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
13,ID,1654.930,246.59,29.20,0.00,0.00,234.12,275.79,70.15,0.00,...,0.000000,0.000000,0.000000,0.000000,45.508182,29.580319,15.927864,45.508182,15.927864,29.580319
14,IL,12859.995,367.02,1108.64,0.00,0.00,936.76,1475.66,92.06,0.00,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
15,IN,6619.680,339.37,288.47,0.00,0.00,375.61,627.84,127.45,0.00,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
16,KS,2911.641,130.65,214.32,6.18,0.00,174.69,351.15,17.68,0.00,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
17,KY,4425.092,87.42,465.41,0.00,0.00,278.90,552.83,14.47,7.63,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
18,LA,4670.724,353.99,354.93,0.00,0.00,497.18,708.92,39.34,0.00,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
19,MA,6794.422,199.48,447.97,0.00,0.61,346.68,648.06,35.14,0.00,...,6.915857,0.790101,0.276536,0.513566,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
20,MD,6006.401,93.90,655.62,0.00,0.00,319.51,749.52,113.92,0.00,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
21,ME,1329.328,27.46,57.51,0.00,0.00,35.51,84.97,31.63,0.00,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
22,MI,9922.576,209.31,821.13,0.00,0.00,480.52,1030.44,187.01,0.00,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
23,MN,5489.594,336.31,178.93,0.00,0.00,236.16,515.24,82.23,0.00,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
24,MO,6083.672,281.59,515.50,0.00,0.00,482.44,797.09,57.46,0.00,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25,MS,2992.333,346.99,53.37,0.00,0.00,251.12,400.36,48.13,0.00,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
26,MT,1032.949,83.32,69.87,0.00,0.00,86.22,153.19,22.58,1.12,...,0.000000,0.000000,0.000000,0.000000,9.332032,6.065821,3.266211,9.332032,3.266211,6.065821
27,NC,10042.802,157.70,780.31,0.00,0.00,534.44,938.01,168.56,0.00,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
28,ND,756.927,35.35,48.83,0.00,0.00,56.83,84.18,3.69,0.00,...,0.000000,0.000000,0.000000,0.000000,5.406909,3.514491,1.892418,5.406909,1.892418,3.514491
29,NE,1896.190,217.94,57.24,0.00,0.00,129.06,275.18,19.04,0.00,...,0.000000,0.000000,0.000000,0.000000,1.034358,0.672333,0.362025,1.034358,0.362025,0.672333
30,NH,1330.608,35.42,60.10,0.00,0.00,49.98,95.52,29.74,0.00,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
31,NJ,8958.013,378.59,796.83,0.00,0.00,625.97,1175.42,90.66,0.00,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
32,NM,2085.109,183.51,78.28,0.00,0.00,145.12,261.79,24.64,0.00,...,0.000000,0.000000,0.000000,0.000000,148.408466,96.465503,51.942963,148.408466,51.942963,96.465503
33,NV,2933.322,147.66,389.70,0.00,0.00,332.64,537.36,39.51,0.00,...,0.000000,0.000000,0.000000,0.000000,1698.470707,1104.005960,594.464747,1698.470707,594.464747,1104.005960
34,NY,19795.791,614.17,1810.48,0.00,0.00,1227.22,2424.65,187.47,0.00,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
35,OH,11613.423,449.58,856.70,0.00,0.00,589.10,1306.28,136.76,2.72,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
36,OK,3911.338,102.11,509.13,0.00,0.00,246.97,611.24,30.33,0.00,...,0.000000,0.000000,0.000000,0.000000,136.301667,88.596084,47.705583,136.301667,47.705583,88.596084
37,OR,4028.977,146.98,420.06,0.00,0.00,355.43,567.04,66.35,7.54,...,0.000000,0.000000,0.000000,0.000000,77.133795,50.136967,26.996828,77.133795,26.996828,50.136967
38,PA,12802.503,227.40,1164.30,0.00,0.00,522.24,1391.70,208.27,0.00,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
39,PR,3474.182,66.62,509.73,0.00,0.00,338.35,576.35,0.52,0.00,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
40,RI,1056.298,13.76,83.70,0.00,0.00,56.00,97.46,6.57,0.00,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
41,SC,4896.146,115.11,518.28,0.00,0.00,371.34,633.39,118.27,0.00,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
42,SD,880.757,47.98,23.97,0.00,0.00,43.74,71.95,5.56,0.00,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
43,TN,6600.299,255.87,593.82,0.00,0.00,486.50,849.69,42.83,0.00,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
44,TX,27469.114,1153.42,1710.09,19.71,2.11,2124.59,2885.33,136.69,0.00,...,23.922063,2.732974,0.956541,1.776433,6763.951871,4396.568716,2367.383155,6763.951871,2367.383155,4396.568716
45,UT,2995.919,354.81,267.18,4.53,0.00,495.77,626.52,10.36,0.00,...,0.000000,0.000000,0.000000,0.000000,88.892797,57.780318,31.112479,88.892797,31.112479,57.780318
46,VA,8382.993,71.30,614.39,11.54,0.00,545.79,697.23,124.76,0.00,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
47,VI,103.574,0.91,0.00,0.00,3.36,2.74,4.27,1.23,2.55,...,38.093901,4.352034,1.523212,2.828822,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
48,VT,626.042,13.89,28.77,0.00,0.00,16.58,42.66,10.96,0.00,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
49,WA,7170.351,521.19,345.34,0.00,0.00,631.26,866.53,109.60,0.00,...,0.000000,0.000000,0.000000,0.000000,256.160540,166.504351,89.656189,256.160540,89.656189,166.504351
50,WI,5771.337,265.22,214.16,0.00,0.00,240.11,479.38,76.45,0.00,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
51,WV,1844.128,37.67,147.29,0.00,0.00,115.63,184.96,31.32,0.00,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
52,WY,586.107,54.51,46.84,0.00,0.00,82.34,101.35,8.93,0.00,...,0.000000,0.000000,0.000000,0.000000,0.463116,0.301025,0.162091,0.463116,0.162091,0.301025

In [ ]:
data = flow.configure_data()
df = flow.calc_energy_agriculture(data=data, total=True)
for col in df.columns:
    print(col)

In [ ]:
df = flow.calc_wastewater_exports(data=data)
for col in df.columns:
    print(col)

In [3]:
df.to_csv(r'C:\Users\mong275\Local Files\Sankey_Notebook_Development\SankeyFiles\water_hydro.csv')

In [ ]:
name_list = ['electricity to rejected energy', 'energy discharge from sectoral use', 'energy in wastewater',
                      'energy in agriculture', 'energy in public water supply', 'energy production exports',
                     'water discharge from sectoral use']
name_list.index('electricity to rejected energy')

In [ ]:
water_discharge_dict = {'surfacewater': {'fresh': {'wastewater': 0, 'ocean': 0, 'surface': 1},
                                        'saline': {'wastewater': 0, 'ocean': 1, 'surface': 0}},
                        'groundwater': {'fresh': {'wastewater': 0, 'ocean': 0, 'surface': 1},
                                        'saline': {'wastewater': 0, 'ocean': 1, 'surface': 0}},
                                'pws': {'fresh': {'wastewater': 1, 'ocean': 0, 'surface': 0}}
                             }

In [ ]:
sector_consumption_dict = {'residential': {'groundwater': {'saline': 0, 'fresh': .3},
                                                   'surfacewater': {'saline': 0, 'fresh': .3},
                                                   'pws': {'fresh': .3}},
                            'commercial': {'groundwater': {'saline': 0, 'fresh': .15},
                                           'surfacewater': {'saline': 0, 'fresh': .15},
                                           'pws': {'fresh': .15}},
                            'industrial':{'groundwater': {'saline': .003, 'fresh': .15},
                                          'surfacewater': {'saline': .003, 'fresh': .15},
                                          'pws': {'fresh': .15}},
                            'mining': {'groundwater': {'saline': .03, 'fresh': .15},
                                       'surfacewater': {'saline': .03, 'fresh': .15}},
                            'crop_irrigation': {'groundwater': {'saline': 0, 'fresh': .3},
                                                'surfacewater': {'saline': 0, 'fresh': .3}},
                            'livestock':  {'groundwater': {'saline': 0, 'fresh': .87},
                                           'surfacewater': {'saline': 0, 'fresh': .87}},
                            'aquaculture': {'groundwater': {'saline': 0, 'fresh': .5},
                                            'surfacewater': {'saline': 0, 'fresh': .5}}}

In [ ]:
df = data.copy()

In [ ]:
saline_groundwater_industrial_mgd                                                                   42.9
saline_surfacewater_industrial_mgd                                                                742.92

In [ ]:
df = flow.calc_sectoral_use_water_discharge(data=data, total=True)

In [ ]:
x=16987.779934 +  6225.87913 + 4263.081345
x

In [ ]:
df1=flow.calc_sectoral_use_water_discharge(data=data, total=True)
df1 = df1[['FIPS', 'residential_wastewater_discharge_mgd', 'commercial_wastewater_discharge_mgd', 'industrial_wastewater_discharge_mgd']]

In [ ]:
df2 = flow.prep_wastewater_data()
df2 = df2[['FIPS', 'State', 'County', 'municipal_wastewater_mgd', 'infiltration_wastewater_mgd']]

In [ ]:
df3 = pd.merge(df2, df1, how='left')
df3['sector_total'] = (df3['residential_wastewater_discharge_mgd'] 
                                                 + df3['commercial_wastewater_discharge_mgd'] 
                                                 + df3['industrial_wastewater_discharge_mgd'])
df3['diff'] = df3['municipal_wastewater_mgd'] - df3['sector_total']
df3.sum()

In [ ]:
df = pd.DataFrame()
df_sector_discharge = flow.calc_sectoral_use_water_discharge(data=data, total=True)
df_sector_discharge = df_sector_discharge[['FIPS', 'State', 'County',
                                              'residential_wastewater_discharge_mgd',
                                              'commercial_wastewater_discharge_mgd',
                                              'industrial_wastewater_discharge_mgd']]



df['total_wastewater_discharge'] = df_sector_discharge[['residential_wastewater_discharge_mgd',
                                              'commercial_wastewater_discharge_mgd',
                                              'industrial_wastewater_discharge_mgd']].sum(axis=1)

df['wastewater_exports_mgd'] = data['municipal_wastewater_mgd'] - df['total_wastewater_discharge']
df

In [ ]:
df1 = flow.calc_electricity_rejected_energy(data=data)
df2 = flow.calc_sectoral_use_energy_discharge(data=data)
df3 = flow.calc_energy_wastewater(data=data)
df4 = flow.calc_energy_agriculture(data=data)
df5 = flow.calc_energy_pws(data=data)
df6 = flow.calc_energy_production_exports(data=data)
df7 = flow.calc_sectoral_use_water_discharge(data=data)
df_list = [df1, df2, df3, df4, df5, df6, df7]
df_list

In [ ]:
df = flow.calc_sectoral_use_water_discharge(data=data)
for col in df.columns:
    print(col)

In [ ]:
df2 = df[['residential_saline_groundwater_consumption_mgd',
'residential_fresh_groundwater_consumption_mgd',
'residential_saline_surfacewater_consumption_mgd',
'residential_fresh_surfacewater_consumption_mgd',
'residential_fresh_pws_consumption_mgd',]].sum()
#df[['residential_fresh_pws_consumption_mgd']].sum()
df2

In [ ]:
x = 733+17+6309
x

In [ ]:
df = flow.calc_sectoral_use_water_discharge(data=data, total=True)
df.sum()

In [ ]:
df = flow.prep_consumption_fraction()
df.sum()

In [ ]:
df = flow.prep_water_use_2015(variables=['County','fresh_surfacewater_residential_mgd', 
                                         'fresh_groundwater_residential_mgd', 'fresh_pws_residential_mgd']).sum(axis=0)
df

In [ ]:
df = flow.calc_energy_wastewater(data=data, total=True)
#df = df[df.State == "TX"]
for col in df.columns:
    print(col)

In [ ]:
total_df

In [ ]:
#test_dict.update({'test_zero':x})
test_dict
rejected_energy_total = pd.DataFrame.from_dict(test_dict, orient='index').transpose().sum(axis=1)
rejected_energy_total

In [ ]:
x = np.zeros((len(df), 1))
test_dict.update({'test_zero': x})
test_dict['test_zero']

In [ ]:
# Move this to top

    # calculate rejected energy and energy services for each fuel, agriculture, water, and pumping type
    for water_type in water_types_list:
        for pumping_type in pumping_type_dict:
            for agriculture_type in agriculture_type_list:
                for fuel_type in fuel_type_dict:
                    fuel_type_efficiency = 'agriculture_' + fuel_type + "_efficiency_pct"
                    if f'{fuel_type}_{agriculture_type}_{water_type}_{pumping_type}_bbtu' in energy_value_dict:
                        rejected_energy_name = f'{agriculture_type}_{water_type}_{pumping_type}_{fuel_type}_rejected_energy_bbtu'
                        energy_services_name = f'{agriculture_type}_{water_type}_{pumping_type}_{fuel_type}_energy_services_bbtu'
                        if fuel_type_efficiency in df.columns:
                            #df[f'{agriculture_type}_{water_type}_{pumping_type}_{fuel_type}_rejected_energy_bbtu'] = (1 - df[fuel_type_efficiency]) \
                            #                                                                                         * df[f'{fuel_type}_{agriculture_type}_{water_type}_{pumping_type}_bbtu']
                            #df[f'{agriculture_type}_{water_type}_{pumping_type}_{fuel_type}_energy_services_bbtu'] = (df[fuel_type_efficiency]) \
                            #                                                                                         * df[f'{fuel_type}_{agriculture_type}_{water_type}_{pumping_type}_bbtu']

                            rejected_energy_value = (1 - df[fuel_type_efficiency]) * df[f'{fuel_type}_{agriculture_type}_{water_type}_{pumping_type}_bbtu']
                            energy_services_value = (df[fuel_type_efficiency]) * df[f'{fuel_type}_{agriculture_type}_{water_type}_{pumping_type}_bbtu']

                            rejected_energy_dict.update({rejected_energy_name: rejected_energy_value})
                            energy_services_dict.update({energy_services_name: energy_services_value})

                        # if there's no fuel efficiency column, use defaults
                        else:
                            #df[f'{agriculture_type}_{water_type}_{pumping_type}_{fuel_type}_rejected_energy_bbtu'] = (1 -fuel_type_dict[fuel_type]) \
                            #                                                                             * df[f'{fuel_type}_{agriculture_type}_{water_type}_{pumping_type}_bbtu']
                            #df[f'{agriculture_type}_{water_type}_{pumping_type}_{fuel_type}_energy_services_bbtu'] = (fuel_type_dict[fuel_type]) \
                            #                                                                             * df[f'{fuel_type}_{agriculture_type}_{water_type}_{pumping_type}_bbtu']

                            rejected_energy_value = (1 -fuel_type_dict[fuel_type]) * df[f'{fuel_type}_{agriculture_type}_{water_type}_{pumping_type}_bbtu']
                            energy_services_value = (fuel_type_dict[fuel_type]) * df[f'{fuel_type}_{agriculture_type}_{water_type}_{pumping_type}_bbtu']

                            rejected_energy_dict.update({rejected_energy_name: rejected_energy_value})
                            energy_services_dict.update({energy_services_name: energy_services_value})

                        #df[f'{agriculture_type}_total_rejected_energy_bbtu'] = df[f'{agriculture_type}_total_rejected_energy_bbtu'] + df[f'{agriculture_type}_{water_type}_{pumping_type}_{fuel_type}_rejected_energy_bbtu']
                        #df[f'{agriculture_type}_total_energy_services_bbtu'] = df[f'{agriculture_type}_total_energy_services_bbtu'] + df[ f'{agriculture_type}_{water_type}_{pumping_type}_{fuel_type}_energy_services_bbtu']
                    else:
                        pass

In [ ]:
df= df[df.State == "CA"]
df = df['electricity_irrigation_ibt_rejected_energy_bbtu']
df.sum()

In [ ]:
df = flow.calc_energy_agriculture(data=data, total=True)
df

In [ ]:
test_dict = {"Gfg" : [4, 7, 5]}
  
# printing original dictionary
print("The original dictionary is : " + str(test_dict))
  
# initializing K 
K = 1
  
# one liner, values() getting all value according to keys
res = [sub[K] for sub in test_dict.values()]
res

In [ ]:
df = flow.calc_energy_agriculture(data=data, total=True)
df
#df.groupby("State", as_index=False).sum()

In [ ]:
df = flow.prep_pumping_intensity_data()
df

In [ ]:
df = flow.prep_irrigation_fuel_data()
df

In [ ]:
df = flow.calc_electricity_wastewater(data=data)
df

In [ ]:
df = flow.calc_sectoral_use_energy_discharge(data=data, total=True)
df

In [ ]:
data.to_csv(r'C:\Users\mong275\Local Files\Sankey_Notebook_Development\SankeyFiles\run4.csv')

To override the data inputs, flow.configure_data() can be run.
If run with no arguments provided, this function aggregates all baseline data to calculate flow values for the united states in 2015. Parameters are set, however, such that this function can be used to swap out datafiles. 

For example, if alternative US county level data was available for interbasin transfer electricity use, that could be used instead of the default data.

In [ ]:
df = flow.configure_data()
df

In [ ]:
is_NaN = data.isnull()
row_has_NaN = is_NaN.any(axis=1)
rows_with_NaN = data[row_has_NaN]
rows_with_NaN

In [ ]:
df2.to_csv(r'C:\Users\mong275\Local Files\Sankey_Notebook_Development\SankeyFiles\run2.csv')

<h1> Public Water Supply </h1>

## Water in Public Water Supply

### Public Water Supply Withdrawals

The USGS 2015 dataset provides public water supply withdrawals directly under data codes 'PS-WGWFr', 'PS-WSWFr','PS-WGWSa', 'PS-WSWSa' for each county.

In [ ]:
df = flow.prep_water_use_2015(variables=['State','County','PS-WGWFr', 'PS-WSWFr','PS-WGWSa', 'PS-WSWSa'])
df.head()

### Public Water Supply Deliveries to Sectors, Exports, and Imports

The USGS 2015 dataset provide public water supply data in three categories: (1) total public water supply withdrawals, (2) public water supply deliveries to domestic end users, and (3) public water supply deliveries to thermoelectric cooling.

The 1995 USGS dataset provides public water supply deliveries to domestic, industrial, commercial, thermoelectric cooling, and losses/exports separately. To estimate the deliveries to commercial and industrial customers in 2015, the ratio of each to the sum of deliveries to residential and thermoelectric cooling is calculated from the 1995 data. These ratios are applied to the 2015 residential and thermoelectric cooling public water supply delivery values. 

Additionally, public water suppy exports and imports are calculated. When the sum of water deliveries is greater than the water withdrawn for public water supply, the difference is considered to be imported. When water withdrawn is greater, excess water after deliveries is considered to be exported.

Caveats and assumptions:
* This methodology assumes that if no public water supply was delivered to residential or thermoelectric cooling in 1995, then deliveries to industrial and commercial sectors would likewise be zero.

Potential mods
 for import pws counties, take 15% of withdrawals and imports as losses and add it on to the top of imports
 for export pws counties, take 15% of withdrawals as losses, take it out of exports, any remaining put as imports

In [ ]:
df = flow.calc_pws_discharge()
df.head()

## Energy in Public Water Supply

Energy in public water supply includes
groundwater pumping, surface water pumping, desalination (when applicable), surface water treatment, groundwater treatment, distribution, and interbasin transfers (when appropriate).

An assumption is made that water that goes through desalination additionally requires surface water or groundwater treatment

The same groundwater and surface water pumping intensities are used from agriculture sector.

Note that interbasin transfer data that is provided to this function is already in bbtu, not in water flows. 
For non-ibt data, the option is provided for the user to use region-level energy intensity values (as in groundwater and surface water pumping). When values are not available, assumptions for each in kWh/MG are set as default values that can be overriden.

intensity values are used from tidwell and LLNL

In [ ]:
df = flow.calc_electricity_public_water_supply(total=True)
df.head()

# Wastewater Treatment
Wastewater treatment facility data is provided by EPA for the year 2012. These values are assumed for 2015. Values are provided on a treatment plant level with data on the following variables: 
Flow:
    * Total water flows (MGD) treated by the facility
    * Total infiltration flows treated by the facility (leaks into pipes and conduits)
Treatment:
    * Treatment type of each treatment plant (primary, secondary, advanced)
Discharge:
    * discharge location of each plant, broken down by percent of flow to each discharge location (e.g., ocean discharge, suface discharge, irrigation reuse)
Location:
    * county information is included for each power plant
    
This data allows us to determine total water flows processed and discharged by wastewater facilities at a county level by treatment type. The treatment type allows us to calculate the electricity use by county for wastewater treatment,

## Water in Wastewater Treatment

### Water Inflows to Wastewater Treatment Facilities
Total flows processed by wastewater treatment facilities are provided in the EPA dataset directly. However, this data will have discrepencies from the water data delivered to various sectors. To estimate water flows from residential, commercial, and industrial sectors to wastewater treatment facilities, an assumption is made that all water delivered from public water supply to these sectors is sent to wastewater treatment facilities. This assumption is also used to fill wastewater treatment flow values for regions that are unavailable in the EPA dataset. For example, south carolina does not have wastewater treatment facility values in the EPA dataset. It is assumed, therefore, that total wastewater treatment flows in south carolina and equal to the total public water supply flows for each county and is attributed to municipal discharge rather than infiltration. It is assumed that 80% of treatment flows are advanced treatment and 20% are secondary treatment. It is also assumed that all discharge is sent to surface. This follows average values for the state of North Carolina which were used as a proxy in this instance.

### Quantity of Wastewater Processed by Treatment Type
Wastewater treatment plant treatment type is provided in the EPA data directly. These values are binned for simplification into no treatment, primary, secondary, and advanced treatment. When no treatment type was provided for a facility, it was assumed that they were secondary treatment facilities.

To see the amount of water (MGD) processed within each county by treatment type, run the cell below.

In [ ]:
df = flow.prep_wastewater_data()
df.head()

### Wastewater Treatment Facility Discharge

Wastewater treatment plant discharge location is provided in the EPA data directly. These values are binned for simplification into the following categories:

* 'outfall to surface waters': 'ww_sd',
* 'ocean discharge': 'ww_od',
* 'deep well': 'ww_gd',
* "reuse: industrial": 'ww_in',
* 'evaporation': 'ww_evap',
* 'spray irrigation': 'ww_ir',
* 'overland flow no discharge': 'ww_ww',
* 'overland flow with discharge': 'ww_sd',
* 'discharge to another facility': 'ww_ww',
* 'combined sewer overflow (cso) discharge': 'ww_sd',
* 'other': 'ww_sd',
* 'discharge to groundwater': 'ww_gd',
* 'no discharge, unknown': 'ww_ww',
* 'reuse: irrigation': 'ww_ir',
* 'reuse: other non-potable': 'ww_sd',
* 'reuse: indirect potable': 'ww_sd',
* 'reuse: potable': 'ww_ps',
* 'reuse: groundwater recharge': 'ww_gd'

In [ ]:
df = flow.prep_wastewater_data()
df = df[['FIPS','ww_evap','ww_gd','ww_in','ww_ir','ww_od','ww_ps','ww_sd','ww_ww']]
df.head()

## Energy in Wastewater Treatment

Wastewater treatment facilities have various levels of treatment from primary to advanced. Each treatment level has an increasing level of energy intensity to process the water. Intensity value estimates for wastwater treatment were used from Pabi et al. [17].

# Agriculture

## Water in Agriculture

## Energy in Agriculture

Energy use in agriculture consists of groundwater pumping, surface water pumping, and interbasin transers. USDA's Farm and Ranch Irrigation Survey (FRIS) provides state-by-state data on irrigation groundwater depth and average irrigation pressurization levels for irrigation within a state, enabling the calculation of pump electricity consumption for both groundwater and surface water pumping [13]. The 2013 survey is the closest year available to 2015 values. It is assumed that values do not vary significantly between the two years.

The methodology for calculating groundwater and surface water pumping energy is described in Tidwell et al [14]. However, where that publication uses well depth to water to calculate total differential height, the total well depth is used here as a way to offset some of the losses due to friction that would occur in the piping, as described in Lawrence Berkeley National Laboratory (LBNL) Home Energy Saver & Score: Engineering Documentation [15].

Pump efficiency is assumed to be the average (46.5%) of the range (34-59%) listed in [14]. State-level intensity rates are calculated here and applied to the county level water in agriculture values. The general methodology implemented here to determine total energy in agriculture is adapted from [5], not including the additions previously mentioned.

### Groundwater & Surface Water Pumping

### Interbasin Transfers

# Electricity Generation

## Energy in Electricity Generation

US Energy Information Administration (EIA) 923 data for 2015 is used to determine electricity generation by generator type within each interconnect [12]. The datafile contains information on generation at the plant-level. EIA additionally provides data on which North American Electric Reliability Corporation (NERC) balancing region each plant belongs to. By mapping each NERC region to its associated interconnect, generation within each interconnect can be determined directly.

From EIA, the AER Fuel Type Code is used to determine generator type. EIA provides generator type information at a high level of detail. For this reason different generator types are grouped for simplicity using a generator key (GenType923Key.xlsx). For example, different types of natural gas generators are all grouped into "Natural Gas" as a type.

Energy production is provided as "Net Generation (Megawatthours)" in the EIA dataset, "Total Fuel Consumption (MMBTU)" is the MMBTU equivalent of fuel going to each plant for electricity generation. The difference between these two values indicates the amount of energy generation that does not go to energy losses.

## will be filled in with calculate function

## Water in Electricity Generation

# End Use Sectors

## Residential Sector

### Water in Residential Sector

### Energy in Residential Sector

#### Energy (electricity) Demand in Residential Sector

##### weighted by population. <b> consider splitting out by usage if data is available

In [ ]:
df = flow.prep_electricity_demand_data()
df

#### Energy (fuel) Demand in Residential Sector

## Commercial Sector

### Water in Commercial Sector

### Energy in Commercial Sector

## Industrial Sector

### Water in Industrial Sector

### Energy in Industrial Sector

## Transportation Sector

### Energy in Energy Sector

# Energy Production

## Biomass

### Energy in Biomass Production (Ethanol)

To find the ethanol production per county, this calculation takes 2015 eia data on ethanol plant capacity which has added locational data by each plant and combines with state level biomass (ethanol) production from prep_state_fuel_production_data() to split out state total by county. Returns a dataframe of ethanol production (bbtu) by county FIPS for each county in the US for 2015.

ethanol plant production filler for wyoming (in state total but not location data) ,Torrington, WY100%, https://neo.ne.gov/programs/stats/122/2015/122_201512.htm

#### <b> <ul> <font color='red'> Consider looking for estimates for electricity use in biomass production to split out from industrial

### Water in Biomass Production (Ethanol)

#### Water used in irrigation of corn used for ethanol

Data on water used in the irrigation of corn ultimately used for ethanol production does not exist explicitly at any level of granularity and must be calculated out from larger state-level corn growth irrigation intensity estimates.

The percent of corn grown for ethanol in the US was used from US DOE Alternative Fuels Data Center [21]. Total corn production for ethanol (5.22 billion bushels) was divided by total corn producton (13.6 billion bushels) for 2015 and calculated to be 38.406%. Data on a state or county-level does not exist, therefore, this percentage is applied to all states with corn production. A state-level fraction of corn used for ethanol production could be calculated from the amount of ethanol produced in a state and applying an assumption of corn required per unit of ethanol, however, not all corn used in ethanol is produced in the state that uses it which lead to states such as CA with an ethanol fraction of corn growth of nearly 900% of their total corn production. Given that we are unable to determine which states the imported corn for ethanol would be coming from, the decision was made to apply the US total fraction to all states.

Total water used in the production of corn for ethanol is therefore the assumed 38.406% multiplied by the product of the total amount of irrigated acres of corn (AC_Irr_Corn) and the calculated irrigation intensity for that state (total acres applied to all crops / total acres irrigated, all crops) provided from USDA Census of Agriculture Irrigation and Water Management Survey [22], Table 35 and Table 4, respectively. The irrigation intensity for corn is calculated from the average irrigation intensity for the state.

To split the total MGY applied between fresh surface and groundwater, USDA FRIS Census of Agriculture data on the fraction of surface water (surface water + off farm water) from total water supply (including groundwater) in corn production is used from Table 37 of [22]. Off-farm sources are assumed to be surface water.

Some states that grow corn do not provide data on the water source breakdown (surface vs. ground) for their irrigation. The surface to groundwater ratio for all irrigation in a state is substituted for these states. These values are calculated from the USGS 2015 water dataset.

In [ ]:
df = flow.prep_county_water_corn_biomass_data()

#### Water used in the production of ethanol (fermentation)

#### <b> <ul> <font color='red'> Consider looking for estimates for water used in the fermentation process of ethanol production, not just corn growth.

## Petroleum

### Energy in Petroleum Production (Conventional and Unconventional Oil Drilling)

 crude oil production by county fillers
Idaho: https://ogcc.idaho.gov/wp-content/uploads/sites/3/2017/06/2016-10-6-state-of-idaho-releases-oil-gas-production-data.pdf
100% of Idaho petroleum and natural gas is from Payette County

Alaska,
https://www.commerce.alaska.gov/web/aogcc/Data.aspx
almost all oil is produced along the north slope. Calculated from oil production download. The rest is on the kenai peninsula (cook inlet basin)

Maryland
https://www.eia.gov/state/analysis.php?sid=MD#34
assumed 50/50 split between Garret and Allegany Counties

Nevada
https://gisweb.unr.edu/OilGas/
Assumed to be in nye county with producing oil wells (only 4 btu)

Oregon
https://www.oregongeology.org/mlrr/oilgas-report.htm
Only one county (columbia county)

### Water in Petroleum Production (Conventional and Unconventional Oil Drilling)

## Natural Gas

### Energy in Natural Gas Production (Unconventional Drilling)

### Water in Natural Gas Production (Unconventional Drilling)

## Coal

### Energy in Coal Production (Coal Mining)

### Water in Coal Production (Coal Mining)

# Intensities & Percentages

#### Conveyance Losses as a Percent of Water Withdrawn for Irrigation
Conveyance loss fraction for irrigation is calculated from the USGS 1995 water use dataset. It is calculated as the total conveyance losses (MGD) divided by the total water withdrawn (MGD) for irrigation. Looking at the fractions at the county level shows that a small subset of counties have unreliable values where conveyance losses are far greater than the amount withdrawn for irrigation. As a result, the ability to cap the loss fraction at a specified amount it provided and replace it with the average of the specified region. The default loss cap fraction is .90.

In [ ]:
df = flow.prep_water_use_1995()
df = flow.calc_conveyance_loss_frac(df)
df.head()

##### Change in loss cap

In [ ]:
df = flow.prep_water_use_1995()
df = flow.calc_conveyance_loss_frac(df, loss_cap_amt=.20)
df.head()

In [ ]:
help(flow.plot_bar)

In [ ]:
flow.plot_bar(df, "State","IR_CLoss_Frac", "State", y_axis_title = "Irrigation Conveyance Loss Fraction", x_axis_title="State")

#### Water Use Intensity for Hydroelectric Generation

In [ ]:
df = flow.calc_hydroelectric_water_intensity(intensity_cap=True, intensity_cap_amt=165, region_avg=False)

df.head()

In [ ]:
flow.plot_bar(df, "State","HY_IF", "State")