In [2]:
import pandas as pd
import numpy as np
import flow

df = flow.calc_hydroelectric_water_intensity(intensity=False)
df.head()

   State CountyName   FIPS      HY_IF
0     AL    Autauga  01001  31.055819
7     AL    Calhoun  01015  28.245198
9     AL   Cherokee  01019  24.542355
10    AL    Chilton  01021  14.846159
16    AL    Colbert  01033  12.070064

In [32]:
#prepare 2015 USGS water use data and save to dataframe
df_2015 = flow.prep_water_use_2015()
df_2015["bin"] = 1
df_2015 = df_2015[['FIPS', 'bin']]
df_2015.head()

    FIPS  bin
0  01001    1
1  01003    1
2  01005    1
3  01007    1
4  01009    1

In [35]:
idx1 = pd.Index(df_1995.FIPS)
idx2 = pd.Index(df_2015.FIPS)

idx2.difference(idx1).values

array(['02230', '02275'], dtype=object)

In [29]:
  
# assign data of lists.  
data = {'Name': ['Tom', 'Joseph', 'Krish', 'John'], 'Age': [20, 21, 19, 18], 'life':[5,5,5,5]}  
  
# Create DataFrame  
df = pd.DataFrame(data)  


i = df.index[df['Name'] == "Tom"].tolist()

df = df.append(df.loc[i * 2].assign(Age=1), ignore_index=True)

print(df)

     Name  Age  life
0     Tom   20     5
1  Joseph   21     5
2   Krish   19     5
3    John   18     5
4     Tom    1     5
5     Tom    1     5