In [2]:
import pandas as pd
import numpy as np
import flow

df = flow.get_west_inter_basin_transfer_data()
df.head()

,State_Group,Project,Current or Future,Water Delivery (AF/yr),Net Energy Use (MWh/yr),Name of Pumping Plant,cfs,Head,Pump Efficiency (Low),Pump Efficiency (High),...,Capacity Factor (High),Mwh/yr (Low),Mwh/yr (High),HUC 8,State,County,FIPS,Unnamed: 18,Unnamed: 19,Unnamed: 20
0,ID,Avondale Project,NaN,NaN,NaN,Avondale,13.4,215.0,0.34,0.59,...,0.486253,952.560877,3056.132659,17010305.0,ID,Kootenai,16055,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,Pumping Plant 2,12.1,193.0,0.34,0.59,...,0.486253,772.133085,2477.260187,17010305.0,ID,Kootenai,16055,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,OR,Baker Project,NaN,NaN,NaN,Lilley Pumping Plant,67.5,101.0,0.34,0.59,...,0.486253,2254.107526,7231.927942,17050203.0,OR,Baker,41001,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,Lilley Relift Plant,34.3,35.0,0.34,0.59,...,0.486253,396.927919,1273.477007,17050203.0,OR,Baker,41001,NaN,NaN,NaN